/* CSS Document */
body{margin-top:0; padding:0;  repeat-x top;text-align:center;}
td{font-size:12px;}

.lh20{line-height:20px;}
.lh21{line-height:22px;}
.lh22{line-height:24px;}
.ft01{font-size:14px;font-color:#000;font-weight :bold;}
.ft02{font-size:14px;font-color:#FF0000;font-weight :bold;}
.new_title{font-size:22px;font-weight :bold;padding-top:5px;padding-bottom:5px;font-family :"??"; font-size : large;}
.fu_title{line-height:18px;}
.new_line{ border-bottom : 1px solid #B3B2B2;padding-bottom:15px;width:538px;}
.pl{line-height:22px;}
a:link,a:visited
{color:#000;text-decoration:none;}
a:hover,a:active
{color:#ff0000;text-decoration:underline;}

.a01{color:#FFF;font-size:12px;}
.a01 a:link,.a01 a:visited
{color:#FFF;text-decoration:none;line-height:20px;font-size:12px;}
.a01 a:hover,.a01 a:active
{color:#FFF;text-decoration:underline;line-height:20px;font-size:12px;}

.a02{color:#656565}
.a02 a:link,.a02 a:visited
{color:#656565;text-decoration:none;line-height:20px;}
.a02 a:hover,.a02 a:active
{color:#656565;text-decoration:underline;line-height:20px;}

.a03{color:#000;font-size:14px;}
.a03 a:link,.a03 a:visited
{color:#000;font-size:14px;text-decoration:none;line-height:24px;}
.a03 a:hover,.a03 a:active
{color:#FF0000;font-size:14px;text-decoration:underline;line-height:24px;}

.a04{color:#808080;font-size:12px;}
.a04 a:link,.a04 a:visited
{color:#808080;font-size:12px;text-decoration:none;line-height:22px;}
.a04 a:hover,.a04 a:active
{color:#808080;font-size:12px;text-decoration:underline;line-height:22px;}

.a05{color:#FF0000;font-size:14px;}
.a05 a:link,.a05 a:visited
{color:#FF0000;font-size:14px;text-decoration:none;line-height:24px;}
.a05 a:hover,.a05 a:active
{color:#FF0000;font-size:14px;text-decoration:underline;line-height:24px;}

.tit4 {font-size:12px;color:#000000;font-weight :bold;}
.tit4 a:link,.tit4 a:visited
{color:#000;font-size:12px;text-decoration:none;font-weight :bold;}
.tit4 a:hover,.tit4 a:active
{color:#FF0000;font-size:12px;text-decoration:underline;font-weight :bold;}

.gary{color:#666666}
.new_til
{
	font-size:14px;
	font-weight :bold;
	}

.nav_top{
	width:980px;
	height:22px;
	margin-top:3px;	
	margin-bottom:3px;
	background:#DA1117;
	padding-left:12px;
	padding-top:3px;
	}
.nav_top_ad{
	width:980px;
	height:101px;
	background:#FFF;
	border:1px solid #D7D7D7;
	padding:5px;
	}
.nav_ad_news{
	padding-left:18px;
	line-height:20px;
}
.nav_dh{
	width:980px;height:38px;
	margin-top:6px;
	margin-bottom:6px;
	}
.tdstyle1{
	padding-top:14px;
	padding-left:10px;
	line-height:20px;
	}
/*×ó²à*/
.nav_left{
	width:578px;
	border:1px solid #B2B2B2;
	padding:19px 16px 9px 23px;
	line-height:23px;
	}
.nav_left2{
	width:578px;height:72px;
	border:1px solid #B2B2B2;
	padding:6px;margin-top:8px;
	}
.nav_left3{
	width:578px;
	border-top : 2px solid #DA1217;
	border-left : 1px solid #B2B2B2;
	border-right : 1px solid #B2B2B2;
	border-bottom : 1px solid #B2B2B2;
	margin-top:7px;
	}
	
	
.nav_left3_1{
	width:578px;
	border-top : 2px solid #DA1217;
	}
	
.nav_bg{
	background:#EAEAEA;
	padding-left:12px;
	padding-top:4px;
	}
.margin1 {
	margin-right:10px;padding-bottom:2px;
}
.nav_left4{
     padding:13px;
	 line-height:24px;
	 }
.midstyle{color:#666666;font-size:14px;text-align:center;line-height:16px;padding-top:14px;}
.midstyle span{color:#E52B32;font-size:18px;}
/*ÓÒ²à*/
.nav_right{	
    width:370px;
	border:1px solid #B2B2B2;
	margin-bottom:6px;
	}
.nav_til{
    height:24px;background:#D3E8FD;
    border-top : 3px solid #A0C6ED;padding-left:18px;padding-top:3px;
	}
.nav_ad{width:283px;height:40px;margin-top:10px;margin-bottom:10px}
.midd_line{border-right : 1px dotted #5A5A5A;text-align:left;}
.midd_line2{border-left : 1px dotted #5A5A5A;}
.nav_new1{padding-left:8px;text-align:left;}
.right_tu{width:138px;height:88px;border:1px solid #B2B2B2;padding:3px;margin-bottom:6px;}
.right_jl{margin-top:9px;margin-bottom:10px;text-align:left;}
.right_jl2{margin-top:13px;padding-bottom.10px;}
.lh_tu2{margin-top:6px;padding-left:3px;}
.lh_1{margin:1px;background:#F2F0F1;padding-left:14px;padding-top:3px;}
.txt4{color:#000000;font-size:20px;font-family: "ºÚÌå";}
.tdstyle2{ text-align:center;line-height:25px;padding:0 0 12px 0;border-bottom : 1px solid #B3B2B2;color:#666666 }
.tdstyle3{padding:10px 0;text-align:left;font-size:14px;line-height:24px;}
.topbottom{margin-bottom:15px;}
a.rc:link,a.rc:visited
{color:#000;text-decoration:none;}
a.rc:hover,a.rc:active
{color:#ff0000;text-decoration:underline;}

.wypl1 { color:#666; font-size:12px;}
.wypl1 a:link,.wypl1 a:visited
{color:#666;text-decoration:none;font-size:12px;}
.wypl1 a:hover,.wypl1 a:active
{color:#ff0000;text-decoration:underline;font-size:12px;}

.wypl2 { color:#000; font-size:14px;}
.wypl2 a:link,.wypl2 a:visited
{color:#000;text-decoration:none;font-size:14px;}
.wypl2 :hover,.wypl2 a:active
{color:#ff0000;text-decoration:underline;font-size:14px;}

.wypl3 { color:#DA1316; font-size:14px;}
.wypl3 a:link,.wypl3 a:visited
{color:#DA1316;text-decoration:none;font-size:14px;}
.wypl3 a:hover,.wypl3 a:active
{color:#DA1316;text-decoration:underline;font-size:14px;}
.midd_line2{border-left : 1px dotted #5A5A5A;}

/*20070615ÐÂÔö*/
#pricebox { margin:10px 0;}
#pricebox td { font-size:14px; line-height:160%;}
#pricebox img { vertical-align:middle; margin:0 5px;}