* {
    margin:0;
    padding:0;
}

ul {
    list-style:none;
}

img {
    vertical-align:bottom;
}

a img {
    border:none;
}

a {
    text-decoration:none;
}

.clear {
    clear:both;
}

body {
    overflow: hidden;
}

html,
body,
.wrap,
.loading,
.page {
    width: 100%;
    height: 100%;
    font-size: 10px;
}

img {
    width: 100%;
}

.hide {
    display: none!important;
}

.content {
    position: absolute;
}


/*
 * loading
 */
.loading {
    display: table;
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    font-family: Corbel;
}

.loading-inner {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.ball {
    position: relative;
}

.ball img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}

.wrap {
    background: #000;
}

/*
 * say
 */
.say-text-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.say-text {
    position: absolute;
    top: 26%;
    padding: 0 11.3% 0 40.8%;
    text-indent: 2rem;
    color: #f8ef62;
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 2.4rem;
}

.say-text-wrap img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}

.say-text-wrap img:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
}



/*
 * 1
 */
.p1{
    background: url(../images/p1.jpg) no-repeat;
    background-size: cover;
}

/*
 * 2
 */
.p2 img {
    position: absolute;
    top: 0;
}

/*
 * 3
 */
.p3 img {
    position: absolute;
    top: 0;
}

/*
 * 4
 */
.p4 {
    background: url(../images/p4.jpg) no-repeat;
    background-size: cover;
}

.p4 .link {
    width: 100%;
    height: 100%;
}

.p4 .link a {
    float: left;
    width: 26%;
    height: 48%;
    border: 1px solid #f00;
    -webkit-transform: translateX(27%) skewX(-17deg);
}

/*
 * effect
 */
.ball img:nth-child(2) {
    -webkit-transform: translateY(0);
    -webkit-animation: beat 1s infinite alternate;
}

@-webkit-keyframes beat {
    from { 
        -webkit-transform: translateY(0);
    }
    to{ 
        -webkit-transform: translateY(60%);
    }
}

.fade-out {
    opacity: 0;
    -webkit-transition: all 1s  ease-in-out 1s;
}

.fade-in {
    opacity: 1!important;
    -webkit-transition: all .3s  ease-in-out;
}

.p1 img:nth-child(2) {
    opacity: 0;
}

.p2 img {
    -webkit-transition: all .5s  ease-in-out;
}

.left {
    -webkit-transform: translateX(-100%);
}

.right {
    -webkit-transform: translateX(100%);
}

[data-index="2"] {
    -webkit-transition-delay: .5s;
}

[data-index="3"] {
    -webkit-transition-delay: 1s;
}

[data-index="4"] {
    -webkit-transition-delay: 1.5s;
}

[data-index="5"] {
    -webkit-transition-delay: 2s;
}

.show .left,
.show .right {
     -webkit-transform: translateX(0);
}

.p2 img:nth-child(6) {
    opacity: 0;
}

.show img:nth-child(6) {
    -webkit-animation: hvr-wobble-vertical 1s ease-in-out 2.5s forwards;
}

@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    opacity: 1;
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


.p2.show img {
    -webkit-transform: translateX(0);
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.page {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0px, 0px);
    -webkit-transition: -webkit-transform 0.4s;
}

.down {
    -webkit-transform: translate(0px, 100%);
}

.up {
    -webkit-transform: translate(0px, -100%);
}






