* {
    margin:0;
    padding:0;
}

ul {
    list-style:none;
}

img {
    vertical-align:bottom;
}

a img {
    border:none;
}

a {
    text-decoration:none;
}

.clear {
    clear:both;
}

html,
body,
.wrap,
.loading,
.page {
    width: 100%;
    height: 100%;
    font-size: 10px;
}

img {
    width: 100%;
}

.hide {
    display: none!important;
}

.content {
    position: absolute;
}

/*
 * loading
 */
.loading {
    display: table;
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    font-family: Corbel;
}

.loading-inner {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.ball {
    position: relative;
}

.ball img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}

/*
 * 1
 */
.page-1{
    background: url(../images/p1.jpg) no-repeat;
    background-size: cover;
}

.page-1 img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}

.say-text-wrap {
    position: absolute;
    bottom: 0;
}

.say-text {
    position: absolute;
    top: 26%;
    padding: 0 11.3% 0 40.8%;
    text-indent: 2rem;
    color: #f8ef62;
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 3rem;
    -webkit-text-stroke:1px #000;
}
