* {margin: 0; padding: 0;}
ul, li {list-style: none;}
a img {border: none}
img {vertical-align: bottom;}

body,div,span,a,img,p,h1,h2,h3,h4,h5,ul,li,ol,dl,dt,dd,input{ margin:0; padding:0; border:0; list-style:none;}
body{ color:#646464; font-size:12px; font-family:"微软雅黑";}
a{ color:#666; text-decoration:none;}
a:hover{ text-decoration:underline;}

.clear {
    clear: both;
}

.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.header{ width:1000px; height:60px; margin:auto; padding-top:20px;}
.header .left{ float:left;}
.header .right{ float:right;}
.header .right .r1{ float:left;}
.header .right .r1 li b {margin: 0 3px;}
.header .right .r1 li{ float:left; padding-left: 2px; margin-right:28px; line-height:24px; font-size: 14px;}
.header .right .r1 li.letter {
	background: url(../images/letter.png) no-repeat 0 5px;
	padding-left: 24px;
}
.header .right .r2{ float:left;}
	#boxx{float:left; }
	#boxx li{float: left; position: relative; line-height: 24px; }
	#boxx li a{display: block; font-size: 14px;}
	#boxx ul li > div{display: none;position:absolute;top: 23px;right: -1px;z-index: 10; background: #fff;}
	#boxx ul li > div.active {display:block}
#nav_out{ width:100%; background:#fff;z-index:9999;}
#nav1{background:#fff; margin:auto;}
#nav{width:100%; line-height:46px; z-index:9999; background:#FFF;}
#nav ul{ clear:both; overflow:hidden; width:1000px; margin:auto;}
#nav li{ float:left; margin-right:45px;font-size:16px; color:#000000; font-family:"微软雅黑"}
#nav li.quanquan { margin-right: 0; float: right; }
#nav li a{ color:#010101; }
#nav li a:hover{ color:#ed6a00;}
#boxx .select_nav ul li {
	line-height: 30px;
}
.select_nav ul {
	overflow: hidden;
}
#boxx li.active {
	border: 1px solid #9c9c9c;
	border-bottom: none;
}
#boxx li.active > a {
	text-decoration: none;
}
#boxx li.active > div {
	display: block;
}
.select_nav .select_nav_link {
	position: relative;
	z-index: 11;
	padding-left: 2px;
	padding-right: 18px;
	background: #fff url(../images/huijiao.jpg) no-repeat 64px center;
}
.select_nav_line {
	clear: both;
	height: 0;
	margin: 5px 0;
	border: 1px dotted #ccc;
	overflow: hidden;
}
.select_nav_con {
	width: 260px;
	padding: 10px;
	border: 1px solid #9c9c9c;
	color: #9c9c9c;
	font-size: 14px;
}
.select_nav_con strong {
	text-align: left;
	color: #004a86;
	font-size: 12px;
}
.select_nav_con li {
	margin-right: 9px;
}
.sousou{ width:20px; height:20px; border:1px solid #ccc; display:inline-block; float:left; padding:4px 0 0 5px; border-left:none;}
.quanquan{ padding-top:10px;}
.quanquan input {float:left;width:138px; height:24px; border:1px solid #ccc; padding-right:20px; padding-left:5px; outline:none;}

.di_out{ height:52px; margin-top: 20px;background:#ffad00;clear: both;}
.di_out .di{ position: relative; width:1000px; margin:auto;}
.di_out .di .left{ float:left; padding-top:8px;}
.di_out .di .right{ float:right;}
.di_out .di .right li{ height:52px; line-height:52px;float:left; background:url(../images/g1.jpg) no-repeat 0 center; padding-left:30px; margin-left:40px;}
.di_out .di .right guan2{background:url(../images/g2.jpg) no-repeat 0 center; padding-left:30px;}
.di_out .di .right guan3{background:url(../images/g3.jpg) no-repeat 0 center; padding-left:30px; margin-right:0;}
.di_out .di .right li a{ color:#fff;}

.footer {
	position: relative;
	width: 1000px;
	margin: 30px auto;
}
.footer a,
.footer {
	color: #898989;
}
.footer .right { 
	position: absolute;
	top: -20px;
	right: 0;
}
.footer .left{ 
	overflow: hidden;
	line-height: 20px;
}
.footer .left dl {
	float: left;
	padding-right: 12px;
	margin-right: 12px;
	border-right: 1px solid #898989;
}
.footer .left dl.last {
	border-right: none;
}
.footer .left dt {
	margin-bottom: 5px;
	color: #000;
}
.footer .right{ float:right; color: #000;}

.go_top {
	position: absolute;
	top: -50px;
	right: -110px;
}
.contact_bar {
    position: fixed;
    top: 200px;
    right: 0;
    padding: 20px 5px 5px 5px;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
}
.contact_bar > div {
    margin-bottom: 10px;
}
.contact_bar_close {
    position: absolute;
    right: -4px;
    top: -5px;
    line-height: normal;
    cursor: pointer;
    color: #ccc;
    font-size: 20px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.main, .content {
    margin-top: 20px;
    font-family: "微软雅黑";
}
.clear {
    clear: both;
}

/*轮播图*/
.wraper {
    width: 492px;
}

.slides {
    position: absolute;
height: 232px;
top: 595px;
left: 85px;
}

#slides {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.slides_container {
    overflow: hidden;
    position: relative;
    display: none;
    width: 492px;
}

.slides_container div.slide {
    width: 492px;
    height: 232px;
    display: block;
}

/* Next/prev buttons */
#slides .next, #slides .prev {
    position: absolute;
    top: 50%;
    margin-top: -48px;
    left: -30px;
    width: 75px;
    height: 75px;
    z-index: 101;
}

#slides .next {
    left: 503px;
}

.text_align_both {
	text-align:justify;
       text-justify:inter-ideograph;
}

.clear {clear:both;}
.fenxiang{  padding-top:15px; float:right; clear:both; overflow:hidden;}
.fenxiang .jiathis_style > span { vertical-align: middle; float: left;vertical-align: middle;margin-right: 9px;}