/*首页缩略图*/
div.ta-pageimg-right img {
  display: inline;
  overflow: hidden;
	background-color: #f3f3f3;
}

div.ta-pageimg-right {
  display: inline;
  float: right;
  padding: 2px 0px 2px 8px;
}

div.ta-pageimg-left img {
  display: inline;
  overflow: hidden;
  height: auto;
	background-color: #f3f3f3;
}

div.ta-pageimg-left {
  display: inline;
  float: left;
  padding: 2px 8px 2px 2px;
}

div.ta-pageimg-center img {
  display: block; 
	margin-left: auto; 
	margin-right: auto; 
  overflow: hidden;
  max-width: 470px;
	background-color: #f3f3f3;
}

div.ta-pageimg-center {
	display:block;
}

.clear-float{clear:both} /* 用来清除上文样式 */


.clr{font-size:0;width:1px;clear:both;visibility:hidden;line-height:1px;}
#ta-bg{ width:100%; height:0px; margin:0px auto;}


/*日志缩略图*/
#ta-post {
white-space:normal;
		/* 隐藏超出部分 overflow:hidden;*/
		margin:0 auto;
	}
#ta-post p{
padding-left:5px;
	  /* white-space:nowrap; 禁止自动换行 */
	  /* 隐藏超出部分 overflow:hidden;*/
	  /* text-overflow:ellipsis; 用省略号代替结尾, 只对 IE 有效 */
		margin:5px 0;
		text-align:center;
		float:left;
		line-height:20px;
	}

/* Clear Fix */ 
.clearfix:after { 
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden; 
} 
.clearfix { 
	display:inline-block; 
} 
/* Hide from IE Mac \*/ 
.clearfix {display:block;} 
/* End hide from IE Mac */ 
/* end of clearfix */

#ta-single-list {
	margin:0px auto;
	padding:0px;
}

#ta-single-list img {
	display: inline;
}


.ta-entry-left {
	/*position: relative;*/
	padding: 10px 8px 1px 0;
}
	.ta-entry-left .img_holder {
		margin: 0 10px 0 0;
		float: left; display: inline;
	}
	.ta-entry-left .ta_info{
		position: relative;
		float: left; display: inline;
	}
	.ta-entry-left .ta_text{
	}

.ta-entry-right {
	/*position: relative;*/
	padding: 10px 0 1px 8px;
}
	.ta-entry-right .img_holder {
		margin: 0 0 0 10px;
		float: right; display: inline;
	}
	.ta-entry-right .ta_info{
		position: relative;
		float: right; display: inline;
	}
	.ta-entry-right .ta_text{
	}