* {
    margin:0;
    padding:0;
}

img {
    vertical-align:bottom;
}

a img {
    border:none;
}

a {
    text-decoration:none;
}

.clear {
    clear:both;
}

ul {
    list-style:none;
}

.page_container {
    height:1330px;
	overflow:hidden;
    background: url(../images/body_bg.jpg) no-repeat;
    font-family:"微软雅黑";
}

.page_content {
    min-width:1200px;
    max-width:1500px;
    margin:0 auto;
}

.section {
    margin-bottom:30px;
}

.section h2 {
    margin-bottom:10px;
    color:#fff;
    font-size:40px;
}

/*
 * 封面
 */
.cover {
    position:relative;
}

.cover_text {
    position: absolute;
    bottom: 47px;
    right: 55px;
    width: 750px;
    font-size: 13px;
    line-height: 22px;
}

.cover_text a {
    position:relative;
    top:5px;
    float:right;
    padding:15px 30px;
    border:2px solid #fff;
    color:#fff;
    font-size:32px;
}

.cover_text a:hover {
    background:#d40303;
    border-color:#d40303;
    color:#fff;
}

/*
 * 滚动
 */
.scroll {
    position: relative;
}

/*.scroll_content {
    background:#fff;
}*/


.scroll_control a {
    position:absolute;
    top:50%;
    z-index:10;
    width:39px;
    height:92px;
    margin-top:-46px;
}

.scroll_left_btn {
    background:url(../images/scroll_left_btn_hover.png) no-repeat;
}

.scroll_right_btn {
    right:0;
    background:url(../images/scroll_right_btn_hover.png) no-repeat;
}

.scroll_item {
    position:relative;
    width:750px;
}

.editers {
    position:absolute;
    top:0;
    left:0;
    width:750px;
    height:828px;
    background:url(../images/logo_mark.jpg) no-repeat;
}

.editer_info p span {
    background:#fafd16;
}

.editer_name {
    margin-bottom:15px;
    line-height:20px;
}

.editer_1 .editer_info {
    top:45px;
    left:240px;
    width:343px;
    padding-left:130px;
    background:url(../images/photo_right_line.png) no-repeat;
}

.editer_2 .editer_info {
    top:10px;
    right:0;
    width:166px;
    height:242px;
    padding-left:50px;
    background:url(../images/photo_right_line.png) no-repeat;
}

.editer_3 .editer_info {
    top:10px;
    left:40px;
    width:140px;
    height:257px;
    padding-right:20px;
    background:url(../images/photo_left_line.png) no-repeat right top;
}

.editer_4 .editer_info {
    top:10px;
    right:-6px;
    width:166px;
    height:242px;
    padding-left:50px;
    background:url(../images/photo_right_line.png) no-repeat;
}

.editer_3 .editer_photo_wrap {
    padding-left:177px;
}

.editer_1 .editer_photo {
    margin-left:56px;
    padding-top:34px;
}

.editer_1 .editer_photo_wrap {
    margin-left:64px;
}

.editer_info {
    position:absolute;
    padding-top:15px;
    font-size:13px;
    line-height:25px;
}

.editer_1 {
    position:absolute;
    width:735px;
    height:350px;
}

.editer_2 {
    position:absolute;
    top:200px;
    left:362px;
    width:385px;
    height:383px;
}

.editer_3 {
    position:absolute;
    top:380px;
    width:363px;
    height:337px;
}

.editer_4 {
    position:absolute;
    top:480px;
    left:362px;
    width:380px;
    height:311px;
}

.back_story  {
    position:absolute;
    top:0;
    left:770px;
    width:750px;
    height:827px;
    background:url(../images/video_bg.jpg) no-repeat;
}

.back_story strong {
    display:block;
    width:145px;
    height:73px;
    background:url(../images/back_story.png) no-repeat;
}

.back_story p {
    text-align:center;
}

.history {
    overflow:hidden;
}


.zhezhao1 {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 781px;
    left: 0;
    background: url(../images/bg_grey1.png) repeat;
}

.zhezhao_m {
    width: 1000px;
    height: 601px;
    margin: 0 auto;
    margin-top: 70px;
    color: #fff;
    background: #000;
    position: relative;
}

.closes {
    display: block;
    cursor: pointer;
    background: url(../images/video_close.png) no-repeat;
    width: 64px;
    height: 31px;
    position: absolute;
    top: -31px;
    right: 80px;
}

.vedio {
    position: absolute;
    top: 31px;
    left: 0;
    width: 1000px;
    height: 570px;
    background: #000
}


.history li {
    float:left;
    width:19%;
    margin-right:1%;
}

.history li .history_last {
    mragin-right:0;
}

.history li a {
    display:block;
    color:#fff;
    font-size:13px;
    line-height:22px;
}

.history li a img {
    width:100%;
}

.history li a span {
    display:block;
    margin-top:5px;
    text-align:center;
}



.large_pic_info {
    width:750px;
    height:827px;
    background:#fff;
}

.large_pic img {
	width: 100%;
}

.editer_say {
    float:left;
    width:245px;
    height:723px;
    padding:105px 20px 0;
    background:url(../images/scroll_03.jpg) no-repeat;
}

.editer_say li {
    margin-bottom:20px;
}

.editer_say li strong {
    font-size:20px;
}

.editer_say li b {
    display:inline-block;
    margin:5px 5px 0 0;
    padding:0 5px;
    background:#b6b4b4;
    border-radius:3px;
    color:#fff;
    font-weight:normal;
    font-size:18px;
}

.editer_say li p {
    font-size:13px;
    line-height:25px;
}

.editer_say_keyword {
    text-align:center;
}

.mark_start,
.mark_end {
    display:inline-block;
    width:18px;
    height:16px;
}

.mark_start {
    display:block;
    background:url(../images/mark_start.png) no-repeat;
}

.mark_end {
    background:url(../images/mark_end.png) no-repeat;
}

.recommend {
    float:left;
    width:464px;
    background:url(../images/scroll_04.jpg) no-repeat;
}

.tab {
    margin:40px 0 0 200px;
}

.tab a {
    display:inline-block;
    width:30px;
    height:20px;
	padding-top:24px;
    background:url(../images/tab.jpg) no-repeat;
	text-align:center;
	color:#000;
	font-size:13px;
	font-family:Arial;
}

.recommend .tab .tab_on,
.recommend .tab a:hover {
    background-position-y:-61px;
	color:#fff;
}

.tab .tab_1 {
    background-position:0 0;
}

.tab .tab_2 {
    background-position: -36px 0;
}

.tab .tab_3 {
    background-position: -71px 0;
}

.tab .tab_4 {
    background-position: -108px 0;
}

.tab .tab_5 {
    background-position: -143px 0;
}

.tab .tab_6 {
    width:36px;
    background-position: -176px 0;
}

.tab .tab_7 {
    background-position: -215px 0;
}

.tab_content {
    margin-top:20px;
}

.tab_content > div {
    display:none;
}

.tab_content ul {
    overflow:hidden;
}

.tab_content li {
    float:left;
    margin:0 1px 1px 0;
}

.tab_content p {
    padding:10px 0 0 0;
}

.tab_content p img,
.tab_content p span {
    vertical-align:top;
}

.tab_content p span {
    display: inline-block;
    margin-top: 7px;
    font-size: 13px;
    line-height: 23px;
    font-family: Arial;
}

.next {
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 120px;
    height: 120px;
    background: url(../images/page-next-btn.png) no-repeat;
}

.tab_content_1 p {
    position: relative;
}

.mask_cloth{display:none;z-index:11000;position:absolute;top:0;left:0;background:#fff;opacity:0.5;filter:alpha(opacity=50)}

#ad {
    display: none;
    position: absolute;
z-index:33333333333333333;
}

.close-ad {
    position: absolute;
    top: 0;
    left: 100%;
    width: 46px;
    height: 46px;
    background: url(../images/close.jpg) no-repeat;
}

.left {
    
top: 0;
height: 827px;
    left: 0;
    width: 750px;
	background: rgba(0, 0, 0, .6);
}

.right {
    right: 0;
    left: auto;
}

.say {
    overflow:hidden;
    height: 320px;
    color: #fff;
    font-size: 13px;
    line-height: 25px;
    font-family: "微软雅黑";
}

.new-page  h2 {
    padding-top: 20px;
    text-align: center;
}

.mark-white-start {
    display: inline-block;
    background: url(../images/mark-white-start.png) no-repeat;
}

.mark-white-end {
    display: inline-block;
    background: url(../images/mark-white-end.png) no-repeat;
}

.new-page .say p {
    overflow: hidden;
     margin-top: 20px;
}

.new-page .say p span {
    display: block;
    padding-right: 20px;
}



.new-page .say img {
    float: left;
    margin-right: 20px;
}

.say div p {
    float: left;
    width: 50%;
    height: 176px;
}

.say div p img {
    margin-bottom: 55px;
}
