* {
    margin:0;
    padding:0;
}

ul {
    list-style:none;
}

img {
    vertical-align:bottom;
}

a img {
    border:none;
}

a {
    text-decoration:none;
}

.clear {
    clear:both;
}

.section {
    overflow:hidden;
}

.page_container {
	max-width:1580px;
	overflow:hidden;
	margin:0 auto;
    background:#e8e8e8;
}

.header_text {
    height:477px;
    background:url(../images/miaoxiu_01.jpg) no-repeat center top fixed;
}

.header_banner {
    height:282px;
    background:url(../images/miaoxiu_02.jpg) no-repeat center top;
}

.intro .section_title {
    height:110px;
    background:url(../images/miaoxiu_03.jpg) no-repeat center top;
}

.map {
    height:276px;
    background:url(../images/miaoxiu_04.jpg) no-repeat center top;
}

.big_pic {
    position:absolute;
    top:0;
    z-index:1;
    width:100%;
    height:382px;
}

.music {
   position:relative;
   width:332px;
   height:332px;
   background:url(../images/disk_bg.jpg) no-repeat; 
}

.music p {
	position:absolute;
	top: 230px;
	left: 114px;
	z-index:1;
	color:#FFF;
	font-size:25px;
	font-family:"微软雅黑";
}

.media {
    overflow:hidden;
    margin:20px 0  40px 0;
}

.inner {
    width:1000px;
    margin:0 auto;
}

.music{
   position:relative; 
}

.compact_disk {
   position: absolute;
   left:30px;
   top:25px;
   width:275px;
   height:275px;
   background:url(../images/disk.png) no-repeat;
}

.music_control {
    position: absolute;
    bottom: 12px;
    right: 15px;
    width: 15px;
    height: 17px;
    background: url(../images/music_start.png) no-repeat;
}

.music_stop {
    background: url(../images/music_stop.png) no-repeat;
}

.media_item {
    float: left;
    margin-right: 2px;
}

.big_pic {
    height:382px;
    text-align:center;
    color:#FFF;
    font-size: 15px;
    font-family:"微软雅黑";
}

.big_pic p {
    position:relative;
    top:270px;
}

.revive .big_pic {
    background: url(../images/intro_02.jpg) no-repeat;
}

.change .big_pic {
    background: url(../images/intro_04.jpg) no-repeat;
}

.aftertime .big_pic {
    background: url(../images/intro_06.jpg) no-repeat;
}

.scroll_show .scroll_pic {
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-550px;
}

.scroll_pic {
    position:relative;
    width:1100px;
    margin:0 auto;
    
}

.scroll_pic ul {
    width:1027px;
    height:77px;
    margin-left:50px;
    padding:16px 0 0 25px;
    background:url(../images/scroll_pic_text.png) no-repeat;
}

.scroll_pic ul  li {
    float:left;
    width:160px;
    line-height:20px;
    margin-right:45px;
    font-size:13px;
}

.scroll_pic ul  li a {
    color:#353535;
    font-family:"微软雅黑";
}

.scroll_pic_btn a {
    position:absolute;
    top:50%;
    width:102px;
    height:102px;
    margin-top:-51px;
}

.scroll_show .scroll_pic_btn a {
	margin-top:-99px;
}

.scroll_pic_left {
    left:-50px;
    background:url(../images/scroll_left.png) no-repeat;
}

.scroll_pic_left:hover {
    background:url(../images/scroll_left_hover.png) no-repeat;
}

.scroll_pic_right {
    right:-50px;
    background:url(../images/scroll_right.png) no-repeat;
}

.scroll_pic_right:hover {
    background:url(../images/scroll_right_hover.png) no-repeat;
}

.aftertime {
    margin-bottom:20px;
}

.aftertime ul {
    height:312px;
    background-position:10px bottom;
}

.aftertime ul li {
    width:200px;
    margin-right:0;
}

.aftertime ul li a {
    display:block;
    padding:0 5px;
}

.afterstory  {
	height:598px;
	background:url(../images/afterstory.jpg) no-repeat center -1px fixed;
    font-size:13px;
    font-family:"微软雅黑";
    
}

.afterstory p {
    line-height:30px;
    text-align:center;
}

.afterstory .section_title {
	position:relative;
	width:499px;
	height:53px;
	margin:15px auto;
	background:url(../images/afterstory_title.png) no-repeat;
}

.afterstory_pic {
    margin-top:20px;
}

.afterstory_flip_pic {
    margin:30px 0;
}

.fashion {
    line-height:30px;
    overflow:hidden;
    padding-bottom:20px;
    background:#FFF;
    font-size:13px;
    font-family:"微软雅黑";
}

.fashion .section_title {
    width:602px;
    height:59px;
    margin:30px auto 0;
    background:url(../images/fashion_title.png) no-repeat;
}

.fashion .section_content p {
    text-align:center;
}

.fashion ul li {
    width: 200px;
    margin-right: 0;
}

.fashion ul li a {
    display: block;
    padding: 0 5px;
}

.fashion ul {
    height: 312px;
    background-position: 10px bottom;
}

.across_scroll {
    height:488px;
    overflow:hidden;
    background:url(../images/across_scroll.jpg) no-repeat;
}

.across_scroll ul {
    background:none;
} 

.across_scroll .scroll_pic ul {
    width:1000px;
    padding:0;
}

.scroll_pic_list {
    width:100000px;
}

.zhezhao1 {
	display:none;
    position: absolute;
    z-index:3;
    top: 0;
    width: 100%;
    height: 781px;
    left: 0;
    background: url(../images/bg_grey1.png) repeat;
}

.zhezhao_m {
    width: 1000px;
    height: 601px;
    margin: 0 auto;
    margin-top: 70px;
    color: #fff;
    background: #000;
    position: relative;
}

.closes {
    display: block;
    cursor: pointer;
    background: url(../images/video_close.png) no-repeat;
    width: 64px;
    height: 31px;
    position: absolute;
    top: -31px;
    right: 80px;
}

.vedio {
    position: absolute;
    top: 31px;
    left: 0;
    width: 1000px;
    height: 570px;
    background: #000
}

.scroll_show {
    position:relative;
}

.scroll_pic_item {
    float:left;
}

.aftertime .scroll_pic {
    overflow:hidden;
}

.aftertime .scroll_pic ul,
.fashion .scroll_pic ul {
    width:auto;
}

.across_scroll .scroll_pic,
.across_scroll .scroll_pic_con {
    width:1000px;
}



.scroll_pic_con {
    width:1100px;
    overflow:hidden;
}

.afterstory_flip_pic {
    width:980px;
    overflow:hidden;
    margin:30px auto;
}

.flip_3d {
    float:left;
    width: 195px;
    height:200px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.flip_3d .flip_hover, .flip_3d:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip_3d a {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip_3d .flip_hover {
    display: block;
}

.flip_pic_item {
    float:left;
    width:195px;
}

.surport {
    padding:10px 0 50px 0;
    background:#D7D7D7;
}

.surport strong {
    display:block;
    padding-top:20px;
    color:#928983;
    font-weight:normal;
    font-size:13px;
    font-family:"微软雅黑";
}

.surport p {
    overflow:hidden;
    margin-top:8px;
}

.surport p a {
    float:left;
    margin:0 2px 2px 0;
}

.weibo_live {
	height:334px;
	overflow:hidden;
	background:#FFF;
}