@charset "gb2312";
/* CSS Document */

body {font-size:12px;color:#000; text-align:center;}
* {margin:0;padding:0;list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:12px;}
div,ul,li,dl,dt,dd,table,td,input{font:12px/22px "ו";}
ul,li,dl,ul,ol{list-style:none;}

a {color:#030193;text-decoration:none;}
a:hover {color:#c00;text-decoration:underline;}
.search_box	{ overflow:hidden;zoom:1; padding:10px 0px 10px 0px;}
.search		{ text-align:left; line-height:25px; height:25px;}
.search .Sleft	{ float:left; display:block;}
.search .btn	{ float:left; display:block; padding-left:5px;}
.search_box .keyword	{ clear:both; height:23px; line-height:23px; background-color:#FFFFFF; border:1px solid #C8D8F2; margin-top:5px; text-align:left; color:#030193; padding-left:5px;}
.search_box .keyword br{ display:none;}
.search_box .line	{ height:12px; line-height:12px; clear:both;/*  border-bottom:1px solid #C8D8F1*/;}
.initial	{ line-height:18px; color:#666;}