* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    vertical-align: bottom;
}

a img {
    border: none;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

img {
    width: 100%;
}

html, body {
    font-size: 10px;
}

/* 列表 */
.container {
    margin: 0 22px;
}
.list strong {
    font-weight: normal;
    font-size: 15px;
}
.list > div {
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cacbcb;
}
.list .focus {
    padding-bottom: 0;
}
.focus strong {
    display: block;
    margin-top: 5px;
    text-align: center;
    color: #00479d;
    line-height: 22px;
}
.pic img {
    float: left;
    width: 70px;
    margin-right: 5px;
}
.pic strong {
    display: block;
    margin:2px 0 5px 0;
    color: #2f2725;
}
.pic p {
    color: #666464;
    line-height: 15px;
}
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > li {
    float: left;
    width: 100%;
    position: relative;
}

/* 详情页 */
.detail {
	padding-top: 10px;
	color: #595757;
	line-height: 22px;
}
.detail-header h1 {
	text-align: center;
	color: #00479d;
	font-size: 17px;
}
.detail-header p {
	text-align: center;
}
.detail-header p span {
	margin-right: 10px;
}
.detail-content {
	font-size: 13px;
}
.detail-content p {
	text-indent: 2em;
}
.detail-content img {
	margin-bottom: 5px;
}
.detail-footer {
	padding: 10px 0;
	text-align: center;
}
.share-notice {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}
.share {
	font-size: 14px;
	padding: 10px;
	width: 70%;
	background: #2549fb;
	border: 0;
	border-radius: 5px;
	color: #fff;
	margin: 20px 0;
}

