.enter-content .enter-tab {
    width: 275px;
    margin-left: 50px;
}
.enter-tab td {
    padding: 10px;
    text-align: center;
}
.enter-pic img {
    height: 100%;
}
.enter-content > div {
    width: 370px;
}
.enter-content {
    padding: 160px 0 0 0;
    font-size: 12px;
    float: left;
    margin-left: 80px;
}

.enter-form .form-info {
    color: #c8c7c7;
}
.enter-form li {
    position: relative;
    margin-bottom: 15px;
}
.enter-form .btn {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    font-size: 14px;
    /* font-weight: bold; */
}
.enter-form {
    margin-top: 10px;
    font-size: 14px;
}
.enter-form input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}
.enter-form input[type="text"] {
    width: 330px;
    line-height: 40px;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    padding-left: 40px;
}
.enter-form-link {
    display: inline-block;
    width: 95px;
    margin-left: 5px;
    border: 1px solid #51bde4;
    border-radius: 3px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center; 
}
.enter-form-redirect {
    text-decoration: underline;
    color: #9d9c9e;
}
.enter-form-error {
    position: absolute;
    top: 13px;
    left: 380px;
    white-space: nowrap;
}
.enter-form input.password {
    background: #ffffff url(../images/password.png) no-repeat 10px 50%;
}
.enter-form input.phone-code {
    width: 226px;
    background: #ffffff url(../images/phone-code.png) no-repeat 10px 50%;
}
.enter-form input.username {
    width: 226px;
    background: #ffffff url(../images/username.png) no-repeat 10px 50%;
}

.enter-info strong {
    color: #6d6e6f;
    font-size: 18px;
}
.enter-info a {
    color: #683fa3;
}
.enter-info li {
    margin-bottom: 10px;
}
.enter-info {
    margin-top: 100px;
    text-align: center;
    color: #a2a3b5;
}
.enter-info .enter-success {
    display: inline-block;
    width: 87px;
    height: 84px;
    background: url(../images/enter-success.png) no-repeat;
}

.login label, 
.login .enter-form-redirect {
    font-size: 12px;
}
.login .btn {
    padding-top: 12px;
    padding-bottom: 12px;
}
.login .enter-form-redirect {
    margin-left: 10px;
}
.login > div {
    width: 274px;
}
.login .enter-form-error {
    left: 294px;
}
.login input[type="text"] {
    width: 233px;
}
.login .enter-tab {
    margin-left: 0;
}

.forget-password-header{
    text-align: center;
}
.forget-password .enter-form img {
    vertical-align: top;
    height: 40px;
    border: 1px solid #e9e9e9;
    margin-left: 5px;
}
.forget-password .enter-form .enter-form-error {
    left: 420px;
}
.forget-password .enter-form input[type="text"] {
    width: 360px;
}
.forget-password .enter-form input.email {
    background: #ffffff url(../images/email.png) no-repeat 10px 50%;
}
.forget-password .enter-form input.test-code {
    width: 226px;
    background: #ffffff url(../images/code.png) no-repeat 10px 50%;
}
.forget-password .enter-form input.test-code {
    width: 272px;
}
.forget-password .enter-form {
    margin-top: 60px;
}
.forget-password strong {
    font-weight: normal;
    color: #9ba0a8;
    font-size: 14px;
}
.forget-password h1 {
    margin-bottom: 10px;
    color: #595962;
}
.lookfor-password {
    padding: 140px 0;
}
.forget-password .inner {
    width: 1200px;
}
.forget-password-link a {
    display: inline-block;
    /* margin-top: 10px; */
    padding: 5px 30px;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    text-align: center;
    color: #746a64;
}
.forget-password-link {
    /* height: 60px; */
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
    text-align: right;
    font-size: 14px;
    padding: 10px;
}
.forget-password-link .forget-password-reg {
    border-color: #fea227;
    color: #fff;
}
.lookfor-password {
    width: 402px;
    margin: 0 auto;
}
.forget-password-bottom{
    height: 197px;
    background: #1e1f21;
}

.member-section {
    margin-bottom: 20px;
}
.member-section strong {
    display: block;
    margin-bottom: 5px;
}
.member-simple .btn {
    margin-left: 20px;
    padding: 1px 10px;
}
.member-simple-up {
    margin-left: 10px;
    padding: 1px 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}
.member-simple .auth {
    display: inline-block;
    width: 30px;
    height: 24px;
    margin-left: 5px;
    background: url(../images/auth.png) no-repeat;
    vertical-align: middle;
}
.member-simple .auth-no {
    background-position: 0 -28px;
}
.member-simple td {
    padding: 10px;
}
.member-simple em {
    display: block;
    font-style: normal;
}
.member-section.account li p a {
    border: 1px solid #2ba7d6;
    background: #fff;
    border-radius: 10px;
    padding: 0 10px;
    color: #2ba7d6;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.member-section.account li p {
    float: right;
}
.member-section.account li p .no,
.member-section.account li p .true {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right:5px;
    vertical-align: middle;
    background: url(../images/info.png) no-repeat; 
}
.member-section.account li p .true {
    background-position: -25px 0;
}
.member-section.account em {
    font-style: normal;
    color: #999;
}
.member-section.account li:last-child {
    border: none;
}
.member-section.account li {
    width: auto;
    margin: 0 20px;
    padding: 15px 30px;
    overflow: hidden;
    border-bottom: 1px dashed #dcdcdc;
}
.member-section {
    font-size: 14px;
}
.member-section strong {
    font-weight: normal;
    font-size: 16px;
}
.property em {
    font-style: normal;
    color: #999;
}
.property .member-section-content {
    padding: 20px 50px;
}
.member-section-content {
    width: auto;
    border: 1px solid #e1e6ed;
    background: #fff;
}

.info-bar .photo-mask {
	display: none;
}
.info-bar input {
	display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.info-bar:hover .photo-mask {
	display: block;
}
.info-bar {
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	overflow: hidden;
}
.info-bar .photo {
	
}
