.ico {
    background-image: url(../images/sprite-ui.png);
    background-size: 350px 169px;
    background-repeat: no-repeat;
}

.swa-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.swa-header * {
    -webkit-touch-callout: none
}

.swa-header .shift {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.swa-header .display {
    position: relative;
    margin: 0 29px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.swa-header .region-left {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    width: 48%;
    height: 100%;
    vertical-align: middle
}

.swa-header .region-right {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    width: 48%;
    height: 100%;
    vertical-align: middle
}

.swa-header .region-center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center
}

.swa-header .info-display {
    position: relative;
    margin-top: 14px
}

.swa-header .logo-display {
    position: relative;
    margin-top: 17px
}

.swa-header .logo-display .logo {
    display: block;
    width: 72px;
    height: 24px;
    background-position: 0 0
}

.swa-header .logo-display .logo .logo-img {
    width: 100%;
    height: 100%
}

.swa-header .logo-title {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    width: 110px;
    height: 8px;
    background-position: -73px 0
}

.swa-header .social {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.swa-header .social li {
    display: inline-block;
    margin: 0 -1px;
    *display: inline;
    zoom:1}

.swa-header .nav {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom:1}

.swa-header .nav li {
    position: relative;
    float: left
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,blockquote {
    quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

.blk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==);
    background-repeat: repeat;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block
}

html,body {
    height: 100%
}

body {
    background-color: #000;
    font-family: 'neuzeitgroligregular', sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: #fff
}

* {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

html {
    overflow-y: scroll
}

.touchscreen {
    overflow-y: visible !important
}

.desktop body {
    padding-bottom: 0px
}

b {
    font-family: 'neuzeitgrobold', sans-serif;
    font-weight: normal
}

ol,li {
    list-style: none
}

a {
    outline: none;
    cursor: pointer;
    color: #fff;
    text-decoration: none
}

.desktop a:hover,a.hover {
    color: #fff;
    font-family: 'neuzeitgrobold', sans-serif
}

a:active {
    background-color: transparent
}

img {
    vertical-align: bottom;
}

.nav {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom:1}

.nav li {
    position: relative;
    float: left
}

.nav-tab {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 0;
    height: 0;
    text-align: left;
    display: none
}

.nav-tab .tab-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px
}

.nav-tab .tab-display {
    position: absolute;
    min-width: 300px
}

.nav-tab .tab-title {
    position: absolute;
    min-width: 24px;
    min-height: 18px;
    bottom: 0;
    display: inline-block;
    padding: 3px 8px;
    text-transform: uppercase;
    font-size: 1.1em;
    background-color: #fff;
    color: #000;
    overflow: hidden
}

.nav-tab .tab-arrow {
    position: absolute;
    top: 0;
    width: 24px;
    height: 12px;
    background-position: -29px -112px
}

.nav-tab-prev {
    margin-right: -20px
}

.nav-tab-prev .tab-container {
    left: 10px
}

.nav-tab-prev .tab-display {
    right: 0
}

.nav-tab-prev .tab-arrow {
    right: 0
}

.nav-tab-prev .tab-title {
    right: 0;
    text-align: right
}

.nav-tab-next .tab-display {
    left: 0
}

.nav-tab-next .tab-container {
    left: -10px
}

.nav-tab-next .tab-arrow {
    left: 0
}

.nav-tab-next .tab-title {
    width: auto;
    left: 0;
    text-align: left
}

.nv-btn {
    position: relative;
    display: block;
    width: 65px;
    height: 57px;
    background-color: #fff;
    overflow: hidden;
    transition: background-color 0.1s ease-in;
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.nv-btn .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 57px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.nv-btn .icon .ico {
    position: absolute;
    top: 50%;
    left: 50%
}

.nv-btn .state-a,.nv-btn .state-b {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 57px
}

.nv-btn-prev,.nv-btn-next {
    border-left: solid 1px #000;
    border-right: solid 1px #000
}

.nv-btn-prev .ico,.nv-btn-next .ico {
    width: 14px;
    height: 18px;
    margin-top: -9px;
    margin-left: -9px
}

.nv-btn-prev .state-a .ico {
    background-position: 0 -25px
}

.nv-btn-prev .state-b {
    left: 65px
}

.nv-btn-prev .state-b .ico {
    background-position: -15px -25px
}

.nv-btn-next .ico {
    margin-left: -5px
}

.nv-btn-next .state-a .ico {
    background-position: -45px -25px
}

.nv-btn-next .state-b {
    left: -65px
}

.nv-btn-next .state-b .ico {
    background-position: -30px -25px
}

.nv-btn-db .ico {
    width: 18px;
    height: 80px;
    margin-top: -9px;
    margin-left: -9px
}

.nv-btn-db .state-a .ico {
    background-position: 0px -44px
}

.nv-btn-db .state-b {
    top: 65px
}

.nv-btn-db .state-b .ico {
    background-position: -19px -44px
}

.main {
    position: relative;
    overflow: hidden;
}

.main-bg {
    position: absolute;
    width: 100%;
    height: 815px;
}

.inner {
    position: relative;
    z-index: 1;
    width: 1000px;
    height: 815px;
    margin: 0 auto;
}

.main-bg-1 {
    background: url(../images/1.jpg) no-repeat center top;
}

.main-bg-2 {
    background: url(../images/2.jpg) no-repeat center top;
}

.main-bg-3 {
    background: url(../images/3.jpg) no-repeat center top;
}

.main-bg-4 {
    background: url(../images/4.jpg) no-repeat center top;
}

.main-bg-5 {
    background: url(../images/5.jpg) no-repeat center top;
}

.page-header {
    height: 44px;
}

.main-bg div, .hist, .list {
    display: none;
}

.main-bg div.on, .hist.on, .list.on {
    display: block;
}

.text-wrap {
    height: 815px;
    overflow: hidden;
}

.text {
    position: relative;
    top: 0;
    left: 0;
    width: 410px;
    height: 815px;
    font-size: 13px;
    line-height: 24px;
}

.text {
    top: 60px;
}


.text-6, .text-7 {
    top:40px;
}
.text-7 {
    top: 20px;
    width: 100%;
}

.text strong {
    display: block;
    float: left;
    margin-bottom: 2px;
    padding: 0 5px;
    background: #f8f130;
    color: #000;
}

.text p {
    margin-bottom: 20px;
}

.text-1 {
    top: 0;
}

.text-1 p {
    margin-bottom: 0;
}

.text em {
    color: #f8f130;
}

.clear {
    clear: both;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 815px;
    background:rgba(0,0,0,0.7);
}

.list ul li img {
    width: 100%;
}

.list ul li {
    float: left;
    width: 30%;
    margin: 0 10px 10px 0;
}

.hist {
    position: absolute;
    bottom: 0;
    z-index: 10000;
    width: 100%;
    height: 275px;
    background:rgba(0,0,0,0.7);
    font-size: 13px;
}

.hist li {
    float: left;
    width: 24%;
    margin: 10px 10px 0 0;
}

.hist li p {
    margin-top: 10px;
    text-align: center;
}

.hist li img {
    width: 100%;
}

.main-bg {
    opactiy: 0;
}

.main-bg.on {
    opacity: 1;
}

.hist-close {
    position: absolute;
    top: -39px;
    right: 0;
    width: 67px;                                                                                                                                                                                                                                                                 
    height: 39px;
    background: url(../images/close.png) no-repeat;
}

/*.text img {
   width: 100%; 
}*/

@-webkit-keyframes arrowUpDown {
        0% {bottom:
                110px;
        }
            100% {bottom:
                120px;
        }
}

.mouse {
    position: absolute;
    right: 0;
    z-index: 1000;
    bottom: 110px;
    width: 93px;
    height: 100px;
    background: url(../images/mouse.png) no-repeat;
    -webkit-animation-name: arrowUpDown;
    -webkit-animation-duration: .4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
}

.logo {
    position: absolute;
    left: 50%;
    bottom: -53px;
    margin-left: 390PX;
    z-index: 1000;
    width: 108px;
    height: 45px;
    background: url(../images/logo.jpg) no-repeat;
}
