@charset "utf-8";
/* CSS Document */

body{font:12px/24px Verdana, Arial, Helvetica, sans-serif; margin:0; padding:0; color:#333;}
form{margin:0; padding:0}
.red{color:#F00; font-weight:bold;}
a{color:#333;}
a:hover{color:#F30;}
.c{clear:both; font:0/0 Verdana, Arial, Helvetica, sans-serif;}

#Main{width:624px; margin:0 auto;}
#Logo{background:url(../images/smsdown/logo.gif) no-repeat; height:76px;}
#T1{background:url(../images/smsdown/t1.gif) no-repeat; height:33px;}
.bg{background:url(../images/smsdown/bg.gif)  repeat-y;}
.smsForm{width:366px; padding-left:30px; }
#error{ height:20px; display:none; background:#fefaee url(../images/smsdown/error.gif) 5px center no-repeat; border:1px  solid #fa7653; padding-left:25px; color:#ff3a0b; width:200px; margin-left:15px; line-height:22px; margin-top:5px;}
.smsForm td{ color:#797979; padding-left:5px; height:40px; text-align:left;}
.input1,.input2{ height:23px; line-height:23px; font-size:14px; border:none; padding-left:5px; letter-spacing:1px;}
.input1{ background:url(../images/smsdown/input_bg.gif) no-repeat; width:165px;}
.input2{ background:url(../images/smsdown/input_bg2.gif) no-repeat; width:59px; }
.note{ padding-top:25px; width:330px; color:#000;}

#Bottom{ background:url(../images/smsdown/bottom.gif)  no-repeat; height:21px;}
.bt1{background:url(../images/smsdown/bt.gif) no-repeat left center; height:22px; font-size:14px; color:#fff; font-weight:bold; width:65px; border:none; padding-top:1px; margin-right:5px}

.bt2{background:url(../images/smsdown/bt.gif) no-repeat -80px center; height:22px; font-size:14px; color:#666; font-weight:bold; width:65px; border:none;padding-top:1px;}
.screen_bg{ background:url(../images/smsdown/screen_bg.gif) repeat-y; padding:5px 30px;height:170px; overflow:hidden; width:135px;}
.screen_b{background:url(../images/smsdown/screen_b.gif) no-repeat; height:130px;}