* {
    margin:0;
    padding:0;
}

ul {
    list-style:none;
}

img {
    vertical-align:bottom;
}

a img {
    border:none;
}

a {
    text-decoration:none;
}

.clear {
    clear:both;
}

.container{
    font-family: "微软雅黑";
}
.banner{
    background: url(../images/banner_bg.jpg) center top no-repeat;
}

body {
	overflow-x: hidden;
}

.focus{
    position: relative;
    width: 1080px;
    height: 490px;
    margin: 0 auto;
}
.foces_change{
    position: relative;
}
.focus_text{
    font-size: 27px;
    position: absolute;
    left: 0;
    top: 360px;
    background: url(../images/shake.png) center 0 no-repeat;
    width: 1080px;
    text-align: center;
    color: #fff;
    height: 92px;
    padding-top: 25px;
}
.focus_btn{
    position: absolute;
    left: 473px;
    top: 450px;
    overflow: hidden;
}
.focus_btn li{
    background: url(../images/focus_btn.png) no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    display: inline;
}
.focus_btn li.on{
    background: url(../images/focus_btn_on.png) no-repeat;
}
.focus_left{
    background: url(../images/left_btn.png) no-repeat;
    position: absolute;
    left: -50px;
    top: 175px;
    height: 102px;
    width: 60px;
}
.focus_right{
    background: url(../images/right_btn.png) no-repeat;
    position: absolute;
    right: -50px;
    top: 175px;
    height: 102px;
    width: 60px;
}
.scroll_wrap{
	position: relative;
    background: #000;
	padding-left: 53px;
}
.scroll_wrap:before {
	content: "";
	position: absolute;
	left: 50%;
	width: 53px;
	height: 44px;
	margin-left: -590px;
	background: url(../images/yellow_text.png) 0 center no-repeat
}
.scroll{
    width: 1125px;
    height: 42px;
    color: #fff;
    margin: 0 auto;
    font-size: 13px;
    padding-left: 55px;
    line-height: 42px;
}


.main{
    background: #fff url(../images/show.jpg) 0 535px no-repeat;
}
.show{
    width: 1180px;
    margin: 0 auto;
    position: relative;
    height: 535px;
}
.show_img{
    position: absolute;
    top: 0;
    left: 0;
}
.time{
    position: absolute;
    left: 0;
    top: 93px;
    font-size: 26px;
    color: #666460;
    font-family: Arial;
}
.show_detail{
    position: absolute;
    top: 48px;
    left: 800px;
    color: #676561;
    overflow:hidden;
    font-size: 13px;
}
.show_detail a{
	color: #000;
}
.show_detail li{
    width: 174px;
    margin-left: 15px;
    float: left;
    display: inline;
}
.show_text{

    width: 162px;
    padding: 10px 0 0 5px;
    line-height: 20px;

}
.editor{
    overflow: hidden;
    border-top: 1px solid #D8D5D0;
    margin-top: 5px;
    padding-top: 8px;
}
.editor_img{
    float: left;
    border-right: 1px solid #D8D5D0;
    padding-right: 8px;
    margin-right: 8px;
}
.editor p{
    line-height: 19px;
    margin-top: 3px;
    
}
.intro{
    position: absolute;
    left: 814px;
    top: 424px;
    color: #84807B;
    font-size: 13px;
    line-height: 22px;
}
.dress{
    width: 1180px;
    height: 589px;
    background: url(../images/back.png) no-repeat;
    margin: 164px auto 0;
}
.dress_left{
    position: relative;
    float: left;
    padding:54px 0 0 40px;
    width: 520px;
    height: 533px;
}
.comment_img{
    float: left;
    width: 111px;
    height: 111px;
}
.comment_text{
    float: left;
    width: 350px;
    height: 97px;
    border-left: 1px solid #ADA9A4;
    color:#DCD9D4;
    font-size: 25px;    
    margin: 5px 0 0 20px;
    padding-left: 20px;
}
.comment_text h3{
    color: #F00000;
    font-size: 17px;
}
.comment_text p{
    font-size: 15px;

}
.comment_show{
    overflow: hidden;
    padding-top: 30px;
}
.comment_show img{
    float: left;
    margin-top: 5px;
}
.comment_show p{
    width: 202px;
    float: left;
    color: #DCD9D4; 
    font-size: 15px;
    margin-left: 20px;
    line-height: 25px;
}
.comment_show p a{
    color: #f00000;
}
.dress_right{
    float: left;
}
 .busy{
    height: 401px;
    position: relative;
 }
 .busy_text{
    position: absolute;
    top:180px;
    left: 22px;
 }
 .record:hover .record_btn,
 .busy:hover  .busy_btn {
     background: url(../images/doing_btn.png) no-repeat;
 }
 .busy:hover  .busy-bg,
 .busy:hover .busy_text {
     display: none;
 }
 .busy_btn{
    position: absolute;
    left: 30px;
    top:30px;
    background: url(../images/doing_btn1.png) no-repeat;
    width: 89px;
    height: 49px;
 }
 .what{
    left: 506px;
    top: 22px;
    width: 97px;
    height: 97px;
    background: url(../images/what.png) no-repeat;
    position: absolute;
 }
 .record_left{
    float: left;
    position: relative;
    width: 305px;
    height: 185px;
 }
 .record_btn{
    position: absolute;
    left: 30px;
    top:30px;
    z-index: 10;
    background: url(../images/doing_btn1.png) no-repeat;
    width: 89px;
    height: 49px;
 }
 .record_text{
    position: absolute;
 }
 .record_right{
    position: relative;
    float: left;
    width: 315px;
    height: 186px;
 }
 
  .record:hover .record_right_bg {
      display: none;
  }
 .record_right_bg {
    opacity: 0.3; 
    filter:alpha(opacity=30);
 }
 .last_wrap{
    background: url(../images/bottom-bg.jpg) no-repeat;
	overflow: hidden;
    height:1294px;
 }
 .last{
    margin:30px auto 0; 
    width: 1180px;
	height: 896px;
    overflow:hidden;
 }
 .last li{
    float: left;
    width: 295px;
 }
 .last_top{
    position: relative;
 }
 .last_top p{
    position: absolute;
    left: 30px;
    top: 332px;
    text-align: center;
    width: 240px;
    background: #fff;
    height: 46px;
	line-height: 46px;
    color: #676561;
 }
 .last_bottom{
 	background: url(../images/last_bg.jpg) -295px 0;
 	padding-bottom: 20px;
 }

  .last_bottom a {
	color: #000;
  }
 .kx{
 	font-size: 15px;
 	color: #A5A19C;
 	text-align: center;
 	height: 91px;
 }
 .kx h2{
 	font-size: 30px;
 	color: #000;
 	height: 58px;
 	line-height: 65px;
 }
 .kx_main{
 	text-align: center;
	height: 270px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 295px;
	border-top: 1px solid #D8D5D0;
 }
 .img-radius-border {
	display: inline-block;
	padding: 5px;
 }
 .img-radius-border:hover {
	background: url(../images/img-radius-border.png) no-repeat;
 }
 .third_kx{
 	padding:0 50px 0 55px;
 	font-family: "微软雅黑";
 }
 .third_kx_tit{
 	font-size: 15px;
 }
 .third_kx_text{
 	font-size: 13px;
 	margin-top: 25px;
 }

 .section_foot{
 	width: 1180px;
 	margin: 0 auto;
 	height: 93px;
 	padding-top: 20px;
 }
 .section_foot .team{
 	text-align: center;
 	font-size: 13px;
 	font-family: "微软雅黑";
 	color: #fff;
 	line-height: 30px;
 }
 .team span{
 	margin-left: 20px;
 }
 
 /*
  * banner
  */
 .banner {
     height: 1120px;
 }
 

 
.stars {
    height: 1047px;
    background: url(../images/stars.png) no-repeat center top;
}

.star-big {
    height: 1069px;
    background: url(../images/star-big.png) no-repeat center;
}
 
.car {
    height: 672px;
    background: url(../images/car.png) no-repeat center  -45px;
    -webkit-transform: translateX(-242px);
    -moz-transform: translateX(-242px);
    transform: translateX(-242px);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    
}

.car-start {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}

.citys {
	width: 200%;
    height: 1077px;
    background: url(../images/citys.jpg) left -45px;
    -webkit-animation: BgXs 20s 30 both ease-in;
    animation: BgXs 20s 30 both ease-in;
    -moz-animation: BgXs 20s 30 both ease-in;
    -o-animation: BgXs 20s 30 both ease-in;
}

@-webkit-keyframes BgXs{0%{-webkit-transform:scale(1) translateX(-200px)}50%{-webkit-transform:scale(1) translateX(0px)}100%{-webkit-transform:scale(1) translateX(-200px)}}
@keyframes BgXs{0%{transform:scale(1) translateX(-200px)}50%{transform:scale(1) translateX(0px)}100%{transform:scale(1) translateX(-200px)}}
@-moz-keyframes BgXs{0%{-moz-transform:scale(1) translateX(-200px)}50%{-moz-transform:scale(1) translateX(0px)}100%{-moz-transform:scale(1) translateX(-200px)}}
@-o-keyframes BgXs{0%{-o-transform:scale(1) translateX(-200px)}50%{-o-transform:scale(1) translateX(0px)}100%{-o-transform:scale(1) translateX(-100px)}}

.focus {
    position: absolute;
    top: 594px;
    left: 50%;
    margin-left: -540px;
}

.focus_left, 
.focus_right {
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.focus_left {
   -webkit-transform: translateX(100px);
   -moz-transform: translateX(100px);
   transform: translateX(100px); 
}

.focus_right {
   -webkit-transform: translateX(-100px);
   -moz-transform: translateX(-100px);
   transform: translateX(-100px); 
}

.focus:hover .focus_left, 
.focus:hover .focus_right {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);

}
  
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.scroll {
    float: left;
    width: auto;
}



/*
 * 页码切换
 */

.num {
    position: absolute;
    top: 560px;
    left: 50%;
    margin-left: -150px;
}

.num ul {
    position: absolute;
    overflow: hidden;
}

.num-row-1 ul {
    background: url(../images/num.png) no-repeat;
}

.num ul li {
    float: left;
    width: 43px;
    height: 40px;
}

.num-on {
    position: absolute;
    top: 2px;
    left: 132px;
    width: 36px;
    height: 36px;
    background: url(../images/num-selected.png);
}

.num-row-1 {
   width: 302px;
   height: 44px;
   background: url(../images/num-bg.png) no-repeat;
}

.num-row-2 {
    width: 293px;
    height: 40px;
    background: url(../images/num-bg-2.png) no-repeat;
}

.num-row-2.num-row-on {
    background: url(../images/num-bg-on-2.png) no-repeat 2px 1px;
}

.mask-bg {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
}

.dress-left-bg {
    opacity: 0.8; 
    filter:alpha(opacity=80); 
}

.busy-bg {
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

.dress-left-content {
    position: relative;
}

.tab {
	display: none;
}


.tab.on {
	display: block;
}

/*
	视频
*/

.zhezhao1, .zhezhao2 {
	display: none;
    position: absolute;
    z-index:3;
    top: 0;
    width: 100%;
    height: 781px;
    left: 0;
    background: url(../images/bg_grey1.png) repeat;
}

.zhezhao_m {
    width: 1000px;
    height: 601px;
    margin: 0 auto;
    margin-top: 70px;
    color: #fff;
    background: #000;
    position: relative;
}

.closes, .closes2 {
    display: block;
    cursor: pointer;
    background: url(../images/video_close.png) no-repeat;
    width: 64px;
    height: 31px;
    position: absolute;
    top: -31px;
    right: 80px;
}

.vedio {
    position: absolute;
    top: 31px;
    left: 0;
    width: 1000px;
    height: 570px;
    background: #000
}

.clear {
	clear: both;
}

.scroll_content {
	height: 900px;
}

.bottom_info {
    width:1180px;
    height: 251px;
    overflow: hidden;
    position:relative;
    margin:0 auto;
    color:#6E6E6E;
}

.wechat_img{
    width:399px;
    height:176px;
    position:absolute;
    left:200px;
    top:65px;
}
.make{
    position:absolute;
    top:208px;
    left:175px;
    text-align:center;
    line-height:25px;
}
.make span{
    margin-right:25px;
}

.show_wrap {
    background: #fff;
    height: 582px;
}
.tab_title {
    width: 530px;
    overflow: hidden;
    margin: 0 auto;
}
/*
	微博
*/
.weibos {
	position: absolute;
	top: 100px;
	left: 612px;
}
.weibos li {
	float: left;
	width: 77px;
	margin-right: 20px;
	text-align: center;
	line-height: 28px;
}
.weibos li a {
	color: #fff;
    font-size:13px;
}