*{ margin:0; padding:0;}
.tjqccy{width:668px; _width:667px; border:1px #C2D9F2 solid;padding:10px 0 28px 0;background:#fff; border-bottom:none;}
.tjqccybt{ border-bottom:1px #C2D9F2 solid; width:668px; height:27px; text-align:left;margin-bottom:12px; line-height:27px;}
.tjqccybt h4 { background:url(http://www.hotel.hc360.com/images/0912endpic/redline.gif) no-repeat 10px 7px; padding-left:23px; float:left; padding-top:2px; }
.tjqccybt h4, .tjqccybt h4 a{ color:#7b2101;font-size:14px;font-family:"ו";font-weight:bold; text-decoration:none;}
.tjqccybt h4 a:hover{ color:#FF0000; text-decoration:none;}
.tjqccybt span{ display:block; float:right; margin-right:15px;}
.h12, .h12 a {color:#666666;font-size:12px;font-family:"ו";font-weight:100;text-decoration:none; text-align:right;}
.h12 a:hover {color:#f00;font-size:12px;font-family:"ו";font-weight:100;text-decoration:none; text-align:right;}
.qctjimglb{ padding:0px; text-align:center;}
.qctjimglb table{ margin-right:10px; _margin-right:0px;}
.qctjimglb td{padding-bottom:15px; text-align:center;}
.qctjimglb img{border:1px #989797 solid;margin-bottom:5px;}
