* {
    margin: 0;
    padding: 0;
}
img {
    vertical-align: bottom;
}
a img {
    border: none;
}
ul,
li {
    list-style: none;
}
.inner {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.wrap {
    line-height: 22px;
    font-size: 14px;
    font-family: "微软雅黑";
}

.header {
    height: 713px;
    background: url(../images/header.jpg) no-repeat center top fixed;
}

.section1 {
    background: #5c504f url(../images/section1.jpg) no-repeat center bottom;
}
.runway {
    position: absolute;
    top: 115px;
    width: 245px;
}
.show_place li {
    padding: 24px 0;
}
.show_place {
    position: absolute;
    width: 145px;
    height: 250px;
    color: #fff;
    right: 0;
    top: 132px;
}
.who a:hover,
.show_place a:hover {
    color: #3eb289;
}
.who a,
.show_place a {
    color: #fff;
}

.section2 {
    height: 742px;
    background: url(../images/section2_bg.jpg) no-repeat center top fixed;
}
.section2 .inner {
    height: 742px;
    background: url(../images/section2.png) no-repeat center top;
}
.section2_link1 .inner {
    background: url(../images/section2_1.png) no-repeat center top;
}
.section2_link2 .inner {
    background: url(../images/section2_2.png) no-repeat center top;
}
.section2_link3 .inner {
    background: url(../images/section2_3.png) no-repeat center top;
}
.section2_link4 .inner {
    background: url(../images/section2_4.png) no-repeat center top;
}
.tips {
    position: relative;
}
.tips ul li {
    position: absolute;
    width: 248px;
}
.tip1 {
    left: 204px;
    top: 109px;
}
.tip2 {
    left: 543px;
    top: 109px;
}
.tip3 {
    left: 206px;
    top: 443px;
}
.tip4 {
    left: 543px;
    top: 443px;
}
.tips strong {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: normal;
}
.tip1_link,
.tip2_link,
.tip3_link,
.tip4_link {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 160px;
    height: 160px;
}
.tip1_link {
    left: 11px;
  top: 181px;
}
.tip2_link {
    left: 817px;
  top: 181px;
}
.tip3_link {
      left: 7px;
  top: 511px;
}
.tip4_link {
      left: 817px;
  top: 511px;
}

.section3 {
    height: 383px;
    position: relative;
}
.section3_bg1,
.section3_bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 383px;
    background: url(../images/section3.png) no-repeat center top;
}
.section3_bg1 {
    height: 37px;
    z-index: 1;
    background: url(../images/section3_1.png) no-repeat center top;
}
.it {
    position: absolute;
    top: 155px;
    width: 236px;
}
.who li {
    padding: 22px 0;
}
.who {
    position: absolute;
    width: 145px;
    height: 250px;
    color: #fff;
    right: 0;
    top: 99px;
}


.section4 {
    height: 788px;
    background: #5c504f;
}
.carousel {
    position: relative;
}
.carousel-control {
    position: absolute;
    top: 50%;
    margin-top: -29px;
    width: 58px;
    height: 100px;
}
.carousel-inner {
    margin-left: 58px;
}
.left {
   background: url(../images/play_left.jpg) no-repeat;
}
.right {
    right: 0;
    background: url(../images/play_right.jpg) no-repeat;
}
.item {
    display: none;
}
.item.active {
    display: block;
}
.carousel-inner {
    height: 593px;
    overflow: hidden;
}

/*模特*/
.section1 .inner {
    height: 470px;
}
.section3 .inner {
    height: 383px;
    overflow: hidden;
}
.model {
    position: absolute; 
}
.model1 {
    left: 273px;
}
.model2 {
    left: 488px;
}
.model3 {
    left: 667px;
}
.model4 {
    left: 232px;
}
.model5 {
    left: 455px;
}
.model6 {
    left: 648px;
}
.model1,
.model2,
.model3 {
    bottom: 0;
}
.model1:hover,
.model2:hover,
.model3:hover {
    bottom: 10px;
}
.model4,
.model6 {
    bottom: -50px;
}
.model5 {
    bottom: -30px;
}
.model4:hover,
.model6:hover {
    bottom: -40px;
}
.model5:hover {
    bottom: -20px;
}
