/* 2012-10-15 vill v0 */
/* 顶部导航 */
#topnav #userName{color:#333;}
#topnav { color:#e5e5e5; height:30px; line-height:30px; background-color:#f9f9f9; border-bottom:1px #e5e5e5 solid;}
#topnav .topnav-l { width:367px; float:left;position:relative; }
#topnav .topnav-r { width:583px; float:right; text-align:right; }
#topnav .topnav-l a { padding-left:24px; margin-right:26px; float:left; display:inline; background:url(http://src.house.sina.com.cn/imp/imp/deal/05/f1/e/31c2fa40c05e0e17820c1862_p1_mk1.png) 0 7px no-repeat; }
#topnav .topnav-l span{padding-left:24px;float:left;display:inline;background:url(http://cache.house.sina.com.cn/css/house/images/index/all_icon.png?0407) 1px -176px no-repeat;color: #333;cursor: pointer;}
#topnav .topnav-l .topnav-l-mimg{position: absolute;top: 25px;left: 297px;z-index: 9999;line-height: 0;width: 98px;height: 103px;}
#topnav .topnav-l #topnav-l-mimg{display: none;}
#topnav .topnav-l .topnav-l-shop { background-position: 0 -25px; }
#topnav .topnav-l .topnav-l-bbs { background-position: 0 -57px; }
#topnav .topnav-r a { color:#6d6d6d; padding:0 8px 0 8px; display:inline-block; }
#topnav .topnav-r span { height:30px; display:inline-block; }
#topnav .topnav-r .topnav-reg { color:#fff; line-height:17px; width:38px; height:17px; text-align:center; padding:0; display:inline-block; background-color:#d61213; margin-top:7px; }
#topnav .topnav-r .topnav-sig { line-height:30px; width:84px; height:30px; padding:0; display:inline-block; overflow:hidden; }
#topnav .topnav-r .topnav-reg:hover { color:#fff; }
#logo .city-txt a:hover, #nav .trade a:hover, #nav .nav a:hover, #topnav a:hover { color:#b70000; }
/* 顶部logo-搜索 */
#logo { margin-top:10px;background:#fff;}
#logo .logo { width:160px; height:50px; padding:4px 15px 9px 4px; float:left; }
#logo .mLine { width:0; height:29px; margin-top:22px; border-left:1px #e5e5e5 solid; overflow:hidden; float:left; }
#logo .mcity { width:303px; height:40px; margin-top:20px; float:left; }
#logo .city-txt a { color:#676767; padding-left:14px; line-height:18px; height:18px; }
#logo .seek { color:#666; font-size:14px; width:467px; height:36px; padding:14px 0 0 0; float:right; }
#logo .sou { width:428px; height:30px; border:3px #e5e5e5 solid; border-right:none; float:left; }
#logo .mSelect { width:90px; height:30px; float:left; position:relative; background:url(http://src.house.sina.com.cn/imp/imp/deal/05/f1/e/31c2fa40c05e0e17820c1862_p1_mk1.png) right -84px no-repeat; z-index:100; }
#logo .mSelect ul { width:91px; border:1px #ccc solid; background-color:#fff; position:absolute; left:-2px; top:30px; z-index:10000; }
#logo .mSelect li { width:91px; line-height:30px; height:30px; }
#logo .mSelect li a { color:#666; width:63px; line-height:30px; display:inline-block; padding:0 18px 0 10px; }
#logo .mSelect li a:hover { text-decoration:none; background-color:#e5e5e5; }
#logo .mSelect .selected { width:60px; display:block; position:absolute; left:0px; top:-30px; z-index:100000; }
#logo .mSelect .selected a { color:#d61213; display:inline-block; }
#logo .mSelect .selected a:hover { background-color:transparent; }
#logo .seek-txt { color:#666; font-size:14px; width:328px; padding-left:10px; height:28px; border:none; border:0; line-height:30px; float:left; }
#logo .seek-btn { width:36px; height:36px; border:none; background:url(http://src.house.sina.com.cn/imp/imp/deal/6b/fd/6/bc6960ccb63d5272fb721ac3_p1_mk1.png) 0 0 no-repeat; float:right; cursor:pointer; }
/* 导航 */
#nav { height:93px; background:url(http://src.house.sina.com.cn/imp/imp/deal/bc/fa/5/ffb5b2dd35736ce5453b0adf_p1_mk1.png) 0 0 repeat-x; margin:0 0 10px 0;}
#nav .nav { width:948px; height:56px; border:1px #e5e5e5 solid; border-top:2px #001a63 solid; }
#nav .nav div { line-height:22px; height:44px; float:left; padding:0 9px; margin:7px 0; border-right:1px #e5e5e5 dotted; }
#nav .nav div a { color:#001a63; margin-left:9px; }
#nav .nav .bd-n { border:none; padding-right:0; }
#nav .nav .nav-first { padding-left:0; }
#nav .trade { color:#001a63; line-height:31px; height:31px; width:948px; border:1px #e5e5e5 solid; border-top:none; overflow:hidden; }
#nav .trade a { color:#001a63; padding:0 3px; }
#nav .trade dt { font-weight:bold; width:62px; padding-left:6px; background:url(http://src.house.sina.com.cn/imp/imp/deal/05/f1/e/31c2fa40c05e0e17820c1862_p1_mk1.png) right -128px no-repeat; float:left;margin-right:0px; }
#nav .trade dd { width:869px; height:30px; padding-left:7px; overflow:hidden; float:left; }
#nav .trade dd a{margin-right:0px;}
#nav .trade dd{line-height:30px;}
/* footer */
.copy { color:#666; text-align:center; line-height:24px; padding:10px 0 25px; background-color:#f3f3f3; width:100%; }
.copy a { color:#666; margin:0 4px 0 8px; }
.return-top ul li a:hover, .coop-con a:hover, .copy a:hover { color:#b70000; }
/* 悬浮层 */
.return-top { width:148px; height:372px; border:1px #006fb2 solid; position:fixed; _position:absolute; right:10px; top:50%; z-index:1000; background-color:#fff; }
.return-top em { width:33px; height:15px; display:inline-block; background:url(http://src.house.sina.com.cn/imp/imp/deal/6b/fd/6/bc6960ccb63d5272fb721ac3_p1_mk1.png) -77px -39px no-repeat; position:absolute; left:5px; top:-16px; z-index:10001; }
.ret-tit { color:#f06a28; font-size:18px; font-family:Arial; line-height:18px; padding:0 12px 0 10px; margin-top:10px; display:inline-block; background:url(http://src.house.sina.com.cn/imp/imp/deal/05/f1/e/31c2fa40c05e0e17820c1862_p1_mk1.png) right -464px no-repeat; cursor:pointer; }
.return-top ul { width:130px; padding:0 9px; overflow:hidden; }
.return-top ul li { color:#2f4767; line-height:22px; width:130px; height:44px; padding:6px 0; overflow:hidden; float:left; border-bottom:1px #aa3535 dotted; }
.return-top ul .ret-last { border-bottom:none; }
.return-top ul li h3 { font-size:14px; font-weight:bold; }
.return-top ul li a { color:#2f4767; }
/*全国导航*/
.city dl { width:60px; float:left; _display:inline; }
.city dl dt, .city dl dd { width:50px; }
.city dl dt { font-size:14px; color:#f06a28; height:25px; line-height:25px; font-family:Arial; font-weight:bold; }
.city dl dd { font-size:12px; font-family:宋体; height:20px; line-height:20px; }
.city dl dd a { color:#343434; text-decoration:none; }
.city dl dd a.cur { background-color:#e2e2e2; padding:2px 3px; color:#f30; font-weight:bold; }
.city { position:relative; clear:both; z-index:999999; }
.siteList { border:1px solid #ccc; position:absolute; left:-10px; top:22px; _left:-43px; z-index:99999; background-color:#fff; -moz-box-shadow:2px 2px 3px #919191; -webkit-box-shadow:1px 1px 3px #919191; filter:progid:DXImageTransform.Microsoft.Shadow(color='#919191', Direction=135, Strength=3);
}
.shadow-main { padding:5px 0 10px 10px; background:#fff url(http://jiaju.sina.com.cn/images/index/r_t_bg.gif) right 1px no-repeat; }
.info { height:25px; line-height:25px; font-size:12px; border-bottom:1px solid #ccc; padding-bottom:2px; }
.info span.list_l { float:left; color:#aaa9a9; }
.info span.list_l strong { color:#585757; font-weight:normal; }
.info span.list_r { float:right; color:#999; padding-left:10px; }
#cityTab { width:117px; }
.cityName { padding-top:3px; display:block; text-align:center; cursor:pointer; }
.cityName .arrow { color:#666; background:url(http://jiaju.sina.com.cn/images/index12Q1/icon_2012_v3.png) no-repeat 49px -626px; padding-right:7px; }
/*footer*/
#footer {text-align:center;height:80px;position:relative;line-height:25px;;clear:both;}
.bottom-pop{display:inline-block;position:relative;cursor:pointer;color:#333333;}
#bottom-pop-box{ position:absolute; bottom:15px; left:-175px;z-index:99;}
#bottom-pop-box ul{border:2px #DF6564 solid; border-top:7px #DF6564 solid; background-color:#fff; width:400px; padding-top:5px; padding-bottom:5px;overflow:hidden;}
#bottom-pop-box li{ height:23px; line-height:23px; width:67px; display:block; float:left; margin-left:10px; display:inline; text-align:left;overflow:hidden;}
.bottom-pop-horn{ width:13px; height:12px; background:url(http://jiaju.sina.com.cn/images/guojia/index/100.png) no-repeat top; font-size:0px; line-height:12px; overflow:hidden; margin:0 auto;}
.bottom-mimg{position:absolute;left:80px;top:-7px;}
/*兼容各个页面及浏览器调整*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{display:inline-block}*html
.clearfix{height:1%}.clearfix{display:block}.clear{clear:both}.clea{clear:both;height:0;overflow:hidden}
.clear:before,.clear:after{content:'';display:table}.clear:after{clear:both}.clears{zoom:1}.m950 { width:950px; margin:0 auto }
#NewSubNav{width:330px!important;}
#NewSubNav  .seek-txt{width:190px!important;}
#NewSubNav  .sou{width:291px!important;}
.subnav{width:950px;height:30px;line-height:30px;background-position:50%  -36px;overflow:hidden;background-repeat:repeat-x;}
.subnav li{float:left;padding:0 21px 0 20px;background-position:0 7px;}
#channelHeadSkin .subnav{background-repeat:repeat-x;}
#channelHeadSkin .subnav li.i{background:none;}
.hideform,#selectUl{display:none;}
#logo .seek{position:relative;}
#logo .seek-btn{position:absolute;bottom:0;right:0;}
.subnav li a{color:#fff;text-decoration:none;font-size:14px;}
.subnav li a.b{font-weight:bold;}
.mt15{margin-top:15px;}
.subLogo{width:166px;height:29px;padding-top:25px;background-repeat:no-repeat;background-position:10px 24px;float:left;}
.skin18{padding:10px 0 10px 0;}
.subLogo span{float:left;width:160px;height:45px;margin-top:-14px;}
.nav div b {float:left; width: 36px; text-align:center; }
#nav .nav div b a{margin:0; }
/*
01新闻中心
02家具频道
03壁纸频道
04儿童房
05衣柜频道
06厨房频道
07地板频道
08门窗频道
09热水器
10涂料频道
11家纺频道
12橱柜频道
13瓷砖频道
14卫浴频道
15水系统频道
16照明频道
17开关频道

18精英对话
19装饰公司
20评测导购
21家居博客
22风水频道
23装修答疑
24奢华居室
25样板间
26产品库
27设计师
28老房装修
29家饰频道


*/
