* {
    margin:0;
    padding:0;
}

ul {
    list-style:none;
}

img {
    vertical-align:bottom;
}

a  img {
    border:none;
}

a {
    text-decoration:none;
}

.clear {
    clear:both;
}

.hide {
    display: none;
}

.tab_t {
    cursor: pointer;
}

.main_page{
    font-size:12px;
    color:#52524F;
    font-family:"宋体";
}
.header_wrap{
    background:#F6F5F4;
}
.header{
    width:1210px;
    margin:0 auto;
    height:30px;
    line-height:30px;
}
.header a{
    margin:0 2px;
}
.header_left a{
    color:#FF8A00;
}
.header_left a:hover{
    color:#008BF2;
}
.header_left{
    float:left;
}
.header_right{
    float:right;
}
.header_right a{
    color:#52524F;
}

.header_ad_wrap{
    background:#411696;
}
.header_ad{
    position:relative;
    height:80px;
    width:1210px;
    margin:0 auto;
}
.close{
    position:absolute;
    top:0;
    right:0;
    background:url(..//close.gif) no-repeat;
    width:19px;
    height:19px;
    display:block;
}

.nav{
    margin:0 auto;
    width:1210px;
}
.nav_top{
    height:92px;
}
.nav_logo{
    float:left;
    width:345px;
    padding-top:10px;
}
.nav_search{
    float:left;
}
.search_box{
    border:2px solid #0094E4;
    height:34px;
    margin:27px 0 10px 0;
}
.search_box_1 strong ,
.search_box_1 li {
    cursor: pointer;
}
.search_box_1 strong {
    display: block;
    text-align: center;
    font-weight: normal;
    padding: 0 15px 0 15px;
    margin-right: 5px;
    background: url(..//sj.gif) right 15px no-repeat;
}
.search_box_1{
    float:left;
    height:34px;
    line-height:32px;
    border-right:2px solid #0094E4;
    width: 70px; 
}
.search_box_hover strong {
    background:url(..//sj_hover.gif) right 15px no-repeat;
}
.search_box_hover .select_list {
    display: block;
}
.select_list {
     display: none; 
    position:relative;
    background: #fff;
    text-align: center;
}
.nav_more{
    float:left;
    margin-left:50px;
    display:inline;
}
.search_box input{
    float:left;
    border:none;
    height:34px;
    line-height:34px;
    padding-left:15px;
    width:412px;
}
.search_btn{
    width:120px;
    background:#0094E4;
    height:34px;
    line-height:34px;
    color:#fff;
    display:inline-block;
    text-align:center;
    font-size:16px;
    font-family:"微软雅黑";
}
.search_line{
    overflow:hidden;
}
.search_line li{
    float:left;
    margin-right:10px;
    display:inline;
}
.search_line li a{
    color:#52524F;
}
.search_line a:hover{
    color:#008BF2;
    text-decoration:underline;
}
.nav_more_left{
    float:left;
    
}
.code a  {
    position: absolute;
    z-index: 10;
}
.code a {
    display: block;
    position: relative;
    width: 37px;
    height: 37px;
}
.code a:hover .code_hover {
    display: block;
}
.code a:hover .code_default {
    display: none;
}
.code .code_hover {
    right: 0;
    display: none;
    
}
.code{
    float:right;
    margin:26px 0  0 10px;
}
.code_text{
    float:left;
    margin-top:37px;
}
.main_nav a {
    color:#52524F;
}
.main_nav{
   background:url(../img/main_nav.png) no-repeat;
   height:73px;
   overflow:hidden;
}
.main_nav li{
    float:left;
    font-size:18px;
    width:135px;
    text-align:center;
    line-height:73px;
    font-family:"微软雅黑";
}
.main_nav li a:hover,
.main_nav li.on a {
    color:#008BF2;
}
.main_nav li.nav_all{
    width:240px;
    text-align:center;
    color:#fff;
    width:240px;
}


.section1_wrap{
    background:#007ACF;
}
.section1{
    margin:0 auto;
    width:1210px;
}
.section1_left{
    width:240px;
    float:left;
}
.section1_left li{
    height:75px;
    border-bottom:1px solid #629ACF;
    position:relative;
    color:#fff;
    padding:0 37px 0 30px;
}
.menu {
    background: #0070BA;
}
.section1_left .cate_1{
    border-top:1px solid #0070BA ;
    background: url(../img/dot1.png) 8px 12px no-repeat;
}
.section1_left .cate_2{
    background: url(../img/dot2.png) 8px 12px no-repeat;
}
.section1_left .cate_3{
    background: url(../img/dot3.png) 8px 12px no-repeat;
}
.section1_left .cate_4{
    background: url(../img/dot4.png) 8px 12px no-repeat;
}
.section1_left .cate_5{
    background: url(../img/dot5.png) 8px 12px no-repeat;
}
.section1_left .cate_6{
    border-bottom: none;
    background: url(../img/dot6.png) 8px 12px no-repeat;
}
.section1_left .on,
.section1_left .on a {
    color:#008BF2;
}
.section1_left .on .zk_dot{
    background:url(../img/dot7.png) no-repeat;
}
.section1_left .cate_1.on{
    
    background:#F7F7F6 url(../img/dot1_1.png) 8px 12px no-repeat;
}
.section1_left .cate_2.on{
    
    background:#F7F7F6 url(../img/dot2_2.png) 8px 12px no-repeat;
}
.section1_left .cate_3.on{
    
    background:#F7F7F6 url(../img/dot3_3.png) 8px 12px no-repeat;
}
.section1_left .cate_4.on{
    
    background:#F7F7F6 url(../img/dot4_4.png) 8px 12px no-repeat;
}
.section1_left .cate_5.on{
    
    background:#F7F7F6 url(../img/dot5_5.png) 8px 12px no-repeat;
}
.section1_left .cate_6.on{
        
    background:#F7F7F6 url(../img/dot6_6.png) 8px 12px no-repeat;
}
.section1_left li a{
    margin-right:8px;
    color:#fff;
    line-height:20px;
}
.section1_left li a:hover{
    color:#008BF2;
    text-decoration:underline;
}
.zl_all{
    font-size:14px;
    height:25px;
    line-height:35px;
}
.zk_dot{
    width:7px;
    height:9px;
    background:url(../img/dot8.png) no-repeat;
    position:absolute;
    top:11px;
    right:13px;
}

.section1_middle{
    float:left;
    width:720px;
}
.section1_right{
    width:250px;
    float:left;
    margin:6px 0;
    background:#fff;
}
.section1_right_text{
    font-size:14px;
    font-family:"微软雅黑";
    line-height:24px;
    margin:12px 0;
    padding-left:20px;
}
.section1_right_help a{
    width:105px;
    height:96px;
    display:inline-block;
    margin-bottom:10px;
}
.section1_right_help{
    padding: 0 20px;
}
.tab_top{
    border-top:1px solid #F4F3F2;
    height:35px;
    line-height:35px;
    text-align:center;
    margin:8px 0;
}
.dt{
    width:80px;
    backgreond:#F4F3F2;
    float:left;
}
.news{
    width:170px;
    float:left;
}
.tab_top {
    background:#F4F3F2;
}
.tab_top .on{
    background:#fff;
}
.tab_list{
    line-height:25px;
    padding:0 20px;
}
.tab_list a{
    color:#52524F;
}
.section1_right_tab .more a{
   color:#CAC7C1; 
}
.section1_right_tab .more{
    color:#CAC7C1;
    font-weight:bold;
    text-align:right;
    height:36px;
    line-height:20px;
    padding-right:20px;
    font-size:14px;
}

.scroll_top a {
    color: #52524F;
}
.scroll_top {
    overflow: hidden;
    width: 240px;
    height: 248px;
}

.section2{
    width:1210px;
    margin:0 auto;
    padding-top:7px;
}
.trading{
    width:240px;
    background:#F7F7F6;
    float:left;
    height:285px;
}
.trading_tit{
    height:35px;
    line-height:32px;
    overflow:hidden;
    color:#000;
    font-size:16px;
    font-family:"微软雅黑";
    border-bottom:2px solid #3886C5;
    padding:0 20px 0 10px;
}
.trading_tit a{
    float:right;
    font-size:12px;
    font-family:"微软雅黑";
    color:#52524F;
}
.trading_list{
    width:224px;
    margin:0 8px;
}
.trading_list li{
    border-bottom:1px solid #E0DED9;
    height:36px;
    line-height:34px;
    padding-left:25px;
}
.plan{
    width:970px;
    float:left;
    height:287px;
    position:relative;
}
.plan_tit{
    height:37px;
    background:#3886C5;
    color:#fff;
    font-size:16px;
    padding:0 16px 0 10px;
    font-family:"微软雅黑";
    line-height:37px;
}
.plan_btn{
    float:right;
}
.plan_btn i,
.plan_btn span{
    display:inline-block;
}
.plan_btn .bullets {
    margin-right: 5px;
}
.plan_btn_prev{
    background:url(../img/btn1.png) no-repeat;
    width:13px;
    height:13px;
}
.plan_btn i.plan_btn_default{
    background:url(../img/dot10.png) no-repeat;
    width:7px;
    height:7px;
    margin-left:5px;
    position:relative;
    top:-2px;
}
.plan_btn_next{
    background:url(../img/btn2.png) no-repeat;
    width:13px;
    height:13px;
}
.plan_btn i.active {
    background:url(../img/dot9.png) no-repeat;
    width:7px;
    height:7px;
    margin-left:5px;
    position:relative;
    top:-2px;
}
.plan_list img:hover {
    opacity: .9;
}
.plan_list{
    padding-top:10px;
    overflow:hidden;
}
.plan_list li{
    width:175px;
    border-left:1px solid #DBD8D3;
    padding:20px 0 0 18px;
    height:218px;
    float:left;
}
.plan_list_text{
    font-size:14px;
    line-height:20px;
    font-family:"微软雅黑";
    margin-top:13px;
    color:#ABA7A2;
}
.plan_list_text strong{
    font-size:16px;
    color:#000;
}
.section2_ad,.section3_ad,.section4_ad{
    width:1210px;
    margin:0 auto;
    padding-top:20px;
    }
.left_btn{
    width:31px;
    height:61px;
    position:absolute;
    top:108px;
    left:0;
    background:url(../img/left_btn.png) no-repeat;
}
.right_btn{
    width:31px;
    height:61px;
    position:absolute;
    top:108px;
    left:940px;
    background:url(../img/right_btn.png) no-repeat;
} 
 
.section3,.section4{
    width:1210px;
    margin:28px auto 0;
    height:675px;
} 
.section3_left,.section4_left{
    width:210px;
    padding-left:7px;
    float:left;
}
.section3_left_top{
    background:url(../img/tv.png) no-repeat;
    height:35px;
    font-size:18px;
    color:#007EEC;
    font-family:"微软雅黑";
    padding-left:40px;
}
.section4_left1:hover:before ,
.section3_left1:hover:before {
      -webkit-transition: left 1s;
  -moz-transition: left 1s;
  transition: left 1s;
  left: 210px;
}
.section4_left1:before ,
.section3_left1:before {
      content: "";
  position: absolute;
  width: 80px;
  height: 350px;
  top: 0;
  left: -150px;
  overflow: hidden;
  background: -moz-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.2)),color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
  background: -o-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
  -webkit-transform: skewX(-25deg);
  -moz-transform: skewX(-25deg);
}
.section3_left1,.section4_left1{
    overflow: hidden;
    height:320px;
    width:210px;
    background:url(../img/list1.jpg) no-repeat;
    position:relative;
}
.section3_list1,.section4_list1{
    position:absolute;
    top:18px;
    left:16px;
    
}
.section3_list2,.section4_list2{
    position:absolute;
    top:18px;
    left:122px;
    
}
.section3_left2,.section4_left2{
    height:320px;
    width:210px;
    background:url(../img/list2.jpg) no-repeat;
}
.section3_list1 a,.section3_list2 a,.section4_list1 a,.section4_list2 a{
    color:#fff;
    line-height:24px;
}
.section3_right,.section4_right{
    float:left;
    width:978px;
}
.section3_tab,.section4_tab{
    border-bottom:3px solid #D0CCC7;
    width:960px;
    line-height:35px;
    height:35px;
    margin-left:18px;
}
.section3_tab li,.section4_tab li{
    float:left;
    padding:0 39px 0 42px;
}
.section3_tab li.on,.section4_tab li.on{
    border-bottom:3px solid #0094E4;
}

.sample{
    width:244px;
    font-size:14px;
    padding-top:40px;
    float:left;
    height:261px;
}
.sample p{
    width:196px;
    font-size:12px;
    margin:35px 0 15px 20px;
    line-height:18px;
}
.sample_ad{
    float:left;
    width:485px;
    padding-top:3px;
    height:298px;
}
.sample span{
    color:#FF2A2C;
    margin:0 10px 0 20px;
    font-family:"微软雅黑";
}
.sample del{
    font-family:"微软雅黑";
}
.section4_left_top{
    background:url(../img/signal.gif) 0 3px no-repeat;
    height:35px;
    font-size:18px;
    color:#00DCB0;
    font-family:"微软雅黑";
    padding-left:40px;
} 
.section4_left1{
    background:url(../img/list3.jpg) no-repeat;
}
.section5{
    margin:0 auto;
    width:1210px;
}
.section5_top{
    height:35px;
    border-bottom:3px solid #3886C5;
    background:url(../img/fw.png) 5px 12px no-repeat;
    overflow:hidden;
    width:1170px;
    padding:0 10px 0 30px;
    font-size:18px;
    color:#216ec6;
    line-height:35px;
    font-family:"微软雅黑";
}
.section5_more{
    float:right;
    display:inline-block;
    font-size:12px;
    color:#52524f;
}
.section5_left{
    float:left;
    height: 520px;
    font-family:"微软雅黑";
}
.section5_right{
    float:left;
    width:222px;
    /* height:560px; */
    position:relative;
}
.solve a{
    color:#52524F;
}
.solve1{
    float:left;
    width:322px;
    position:relative;
}
.solve_all{
    float:left;
    width:222px;
    position:relative;
}
.solve1_text{
    position:absolute;
    top:248px;
    left:0;
    width:322px;
    background:#fff;
    text-align:center;
    height:113px;
    font-size:17px;
}
.solve1_text span{
    font-size:24px;
    margin:24px 0 1px 0;
    display:inline-block;
}
.solve_all .solve_all_text{
    width:155px;
    height:84px;
    position:absolute;
    top:234px;
    left:36px;
    background:#fff;
    text-align:center;
    box-shadow: 2px 2px 4px;
}
.solve_all .solve_all_text span{
    font-size:19px;
    border-bottom:1px dashed #76746F;
    display:inline-block;
    width:88px;
    margin:20px 0 1px 0;
}
.circle{
    font-size:17px;
    padding:32px 0 0 20px;
    overflow:hidden;
    line-height:30px;
}
.circle li{
    float:left;
    width:190px;
    text-align:center;
}
.circle,
.circle a{
    color:#9A9691;
}
.circle .message a {
    color: #3093D8;
    font-family: "黑体";
    display: inline-block;
    margin-left: 112px;
}
.section5_right_top{
    height:60px;
    font-family:"微软雅黑";
    font-size:15px;
    background:url(../img/book.png) 20px 20px no-repeat;
    line-height:60px;
    padding-left:50px;
}
.know_list_wrap {
    padding: 0 17px;
}
.know_list{
    line-height:22px;
}
.know_list span{
    color:#005FB3;
    margin-right:6px;
}
.know_list a{
    color:#52524F;
}
.section5_btn{
    position:absolute;
    left:38px;
    top:400px;
}
.section5_btn a{
    display:block;
    width:146px;
    height:33px;
    color:#fff;
    line-height:33px;
    font-size:14px;
    font-family:"微软雅黑";
    text-align:center;
    background:#0083D2;
    border-radius:2px;
    margin-bottom:10px;
}
.section6_wrap{
    background:#F6F5F4;
}
.section6{
    margin:0 auto;
    width:1210px;
    height:96px;
    line-height:96px;
}
.section6 a{
    color:#454645;
    font-size:20px;
    display:inline-block;
    width:200px;
    padding-left:90px;
    font-family:"微软雅黑";
}
.section6_1{
    background:url(../img/six1.png) 35px 28px no-repeat;
}
.section6_2{
    background:url(../img/six2.png) 35px 28px no-repeat;
}
.section6_3{
    background:url(../img/six3.png) 35px 28px no-repeat;
}
.section6_4{
    background:url(../img/six4.png) 35px 28px no-repeat;
}


.section7{
    width:1190px;
    margin:0 auto;
    border-bottom:1px solid #E7E6E3;
    height:180px;
    font-family:"微软雅黑";
    padding:22px 0 0 20px;
    line-height:22px;
    overflow:hidden;
}
.section7_tit{
    font-size:16px;
    margin-bottom:5px;
}
.section7 li{
    width:198px;
    float:left;
    height:180px;
}
.section7 li a{
    color:#666460;

}
.section7_code{
    font-size:10px;
}
.foot{
    width:1210px;
    margin:0 auto 50px;
    text-align:center;
    line-height:18px;
}
.foot a{
   color:#666460; 
}
.foot_1{
    margin:20px 0 10px 0;
}
.foot_2{
    width:860px;
    margin:0 auto 10px;
}
.foot_3 img{
    margin-left:15px;
}

















.list_page .nav_wrap{
    border-bottom:3px solid #0094E4;
}
.list_page .section1{
    width:1210px;
    margin:0 auto;
    position:relative;
}
.list_page .rec{
    overflow:hidden;
    background:#F2F1EF;
    margin-top:19px;
    padding:12px 0 0 50px;
    height:138px;
}
.list_page .rec li{
    float:left;
    width:262px;
    height:122px;
    overflow:hidden;
    margin-left:21px;
    display:inline;
    background:#fff;
}
.list_page .rec_img{
    float:left;
    width:110px;
    height:115px;
}
.list_page .rec_text{
    float:left;
    width:122px;
    padding:25px 10px 0 20px;
    font-size:13px;
    font-family:"微软雅黑";
}
.list_page .rec_text span{
    color:#F50000;
    font-size:13px;
    font-family:"微软雅黑";
}
.list_page .rec_text p{
    margin-top:12px;
}
.list_page .rq{
    position:absolute;
    top:0;
    left:19px;
    width:55px;
    height:67px;
    color:#F50000;
    background:url(../img/list1.png) no-repeat;
    font-size:13px;
    line-height:18px;
    padding:10px 0 0 5px;
}
.list_page .section1_bom{
    height:35px;
    line-height:35px;
}
.list_page .section1_bom a{
    color:#63625D;
}


/* 分类导航 */
.menu {
    position: relative;
    height: 458px;
}
.sort {
    display: none;
}

.sort  a:hover {
    text-decoration: underline;
}
.sort  a {
    color: #666;
}
.sort-detail a.close-sort {
    position: absolute;
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    color: #989898;
    right: 1px;
    top: 1px;
    font-size: 22px;
    cursor: pointer
}

.sort-detail a.close-sort:hover {
    text-decoration: none;
    color: #f60
}
.sort .sort-detail {
    position: absolute;
    left: 240px;
    z-index: 1;
    height: 457px;
    top: 1px;
    width: 715px;
    overflow: hidden;
    background: #fff;
    font-size: 12px;
}

.sort-detail a.close-sort {
    position: absolute;
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    color: #989898;
    right: 1px;
    top: 1px;
    font-size: 22px;
    cursor: pointer
}

.sort-detail a.close-sort:hover {
    text-decoration: none;
    color: #f60
}

.sort .sort-detail-border {
    border: 1px solid #289af0;
    height: 448px;
    left: 189px
}

.sort .sort-detail .sort-chanel {
    display: none;
    height: 39px;
    border-bottom: 1px solid #eee;
    margin: 0 15px;
    overflow: hidden
}

.sort .sort-detail .sort-chanel a {
    float: left;
    display: inline-block;
    height: 23px;
    width: 83px;
    text-align: center;
    line-height: 23px;
    color: #fff;
    margin: 8px 10px 0 0;
    background: #f55379
}

.sort .sort-detail .sort-chanel a.red {
    background: #f55379
}

.sort .sort-detail .sort-chanel a.grey {
    background: #666
}

.sort .sort-detail .sort-chanel a.tip {
    color: #333
}

.sort .sort-detail .cate-list {
    height: 100%;
    width: 480px;
    margin: 12px 0 0;
    padding-left: 20px;
    overflow: hidden;
    float: left
}

.sort .sort-detail dl {
    float: left;
    height: auto;
    margin-bottom: 8px;
    overflow: hidden;
    width: 480px;}

.sort .sort-detail dt {
    float: left;
    width: 90px;
    height: 20px;
    line-height: 20px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 8px;
}

.sort .sort-detail dd {
    float: left;
    width: 380px;
    font: 12px/1.5 arial,tahoma,\5b8b\4f53;
    line-height: 20px;
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 8px
}

.bottom-fixed .slide-box-title,.footer,.nav-index,.s-footer .s-f-con {
    font-family: "Microsoft Yahei"
}

.sort .sort-detail dd a {
    color: #666;
    margin-right: 15px;
    display: inline-block
}

.sort .sort-detail dd a.orange,.sort .sort-detail dd a:hover {
    color: #f60
}

.sort .sort-detail dl.lastdl dd {
    border: 0
}

.nav-index {
    position: absolute;
    left: 50%;
    margin-left: -305px;
    width: 785px;
    padding-left: 10px;
    height: 36px;
    line-height: 36px
}

.sort .sort-detail .threeListAct {
    position: absolute;
    right: 0;
    top: 30px;
    display: none;
    height: 420px;
    width: 190px
}

.sort .sort-detail .threeListAct img {
    height: 100%;
    width: 100%
}


.carousel {
    position: relative;
}
.carousel-control {
    position: absolute;
    top: 50%;
    margin-top: -29px;
    width: 58px;
    height: 100px;
}
.left {
   background: url(../img/play_left.jpg) no-repeat;
}
.right {
    right: 0;
    background: url(../img/play_right.jpg) no-repeat;
}
.item {
    display: none;
}
.item.active {
    display: block;
}
.carousel-inner {
    overflow: hidden;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none
}

.carousel-indicators li {
    display: inline-block;
    width: 14px;
    height: 13px;
    margin: 1px;
    background: url(../img/focus_icons.png) no-repeat -20px 0;
    text-indent: -999px;
    cursor: pointer;
}

.carousel-indicators .active {
    background: url(../img/focus_icons.png) no-repeat -1px 0;
}

.sample_ad .carousel-indicators li {
    background: url(../img/focus_icons.png) no-repeat -54px 0;
}

.sample_ad .carousel-indicators .active {
    background: url(../img/focus_icons.png) no-repeat -36px 0;
}

.slide {
    overflow: hidden;
}
.sample_ad .slide {
    height: 298px;
}
#slide_1 {
    height: 460px;
}


/* Tiny Carousel */
#slider1 .buttons {
    z-index: 1;
    cursor: pointer;
}
#slider1 {
    overflow: hidden;
    position: relative;
}

#slider1 .viewport {
    height: 248px;
    overflow: hidden;
    position: relative;
}

#slider1 .disable {
    visibility: hidden;
}

#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 240px;
    left: 0;
    top: 0;
}

