<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8" />
       <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
       <title></title>
       <link rel="stylesheet" href="../public/css/fresh.css" />
	   <style>
	   .focus-big-pic {
			max-height: 370px;
			overflow: hidden;
	   }
	   </style>
   </head>
   <body>
        <div class="container">
        </div>
        <script src="../public/js/jquery.js"></script>
        <script>

		// 微信分享内容设置
			function configWechat(url) {
				$.post('/api/wxconfig/', {
					'url': url
				}).done(function(data) {
					wx.config({
						debug: false,
						appId: data.appId,
						timestamp: data.timestamp,
						nonceStr: data.nonceStr,
						signature: data.signature,
						jsApiList: [
							'onMenuShareTimeline',
							'onMenuShareAppMessage',
							'onMenuShareQQ',
							'onMenuShareWeibo'
						]
					});
					wx.ready(function() {
						var title = '那谁，那谁，还有那谁，自己自觉对号入座，我们去雪山的机会来了！'
						var link = window.location.href.split('#')[0];
						var imgUrl = 'http://kunlun.limijiaoyin.com/public/static/images/share.jpg';
						var desc = '这世界不止眼前的苟且，还有诗与远方，一起出发吧！';
						wx.onMenuShareTimeline({
							title: title,
							link: link,
							imgUrl: imgUrl
						});
						wx.onMenuShareAppMessage({
							title: '去，我们的挑战！去，我们的旅行！',
							desc: desc,
							link: link,
							imgUrl: imgUrl
						});
						wx.onMenuShareQQ({
							title: title,
							desc: desc,
							link: link,
							imgUrl: imgUrl
						});
						wx.onMenuShareWeibo({
							title: title,
							desc: desc,
							link: link,
							imgUrl: imgUrl
						});
					});

					wx.error(function(res) {
						callback(res);
					});
				}).fail(function(e) {
					console.log('wechatshare config failure');
					if (typeof countShare === "undefined" || countShare == 2) {
						return false;
					}
					$.get('/api/wxconfig/update', '', function() {

					});
					countShare++;
				});
			}

		// 页面切换
			var wrap = $('.container');
			var listUrl = '/api/news/all';
			var detailUrl = '/api/news/single/?id=';

			var renderList = function (data) {
				if (!data || !data.news || data.news.length === 0) {
					return;
				}

				var news = data.news;
				var pageHtml = '';
				var bigPicData = news[0];
				var i, len;

				pageHtml += '<div class="list">';

				pageHtml += '\
					<div class="focus">\
						<a href="#" data-id="' + bigPicData.id + '">\
							<div class="focus-big-pic"><img src="' + bigPicData.coverUrl + '" /></div>\
							<strong>' + bigPicData.title + '</strong>\
						</a>\
					</div>';

				for (i = 1, len = news.length; i < len; i += 1) {
					pageHtml += '\
						<div class="pic">\
							<a href="#" data-id="' + news[i].id + '">\
								<img src="' + news[i].coverUrl + '" />\
								<strong>' + news[i].title + '</strong>\
								<p>' + news[i].desc + '</p>\
							</a>\
						</div>';
				}

				pageHtml += '</div>';

				wrap.html(pageHtml);
			};

			var shareNotice = function () {
                var mask = $('.share-notice');
				var offsetHeight = document.body.scrollHeight;

				var showMask = function () {
					window.scrollTo(0, 0);
                    mask.height(offsetHeight).fadeIn();
				};

				var closeMask = function () {
					mask.fadeOut();
				};


				$(document).on('click', '.share', showMask);
				$(document).on('click', '.share-notice', closeMask);
            };

			var renderDetail = function (data) {
				if (!data || !data.news || !data.news.content) {
					return;
				}

				var detailHtml = '\
					<div class="detail">\
						<div class="detail-header">\
							<h1>2015青藏高原昆仑雪自驾寻缘之旅全国招募现已正式启动</h1>\
							<p><span>北京晚报</span><span>04-27 18:20</span></p>\
						</div>\
						<div class="detail-content">' + data.news.content + '</div>\
						<div class="detail-footer">\
							<button class="share">分享到朋友圈</button>\
						</div>\
						<div class="share-notice">\
							<img src="../public/images/share.png" />\
						</div>\
					</div>';

				wrap.html(detailHtml);
				shareNotice();
			};

			var getShareUrl = function (type, detailId) {
				var href = location.href;

				if (type === 'detail') {
					if (href.indexOf('detail-id') > 0) {
						return href;
					}
					else {
						return href + (/\?/.test(href) ? '&' : '?') + 'detail-id=' + detailId;
					}
				}
				else if (type === 'index') {
					if (href.indexOf('is-index') > 0) {
						return href;
					}
					else {
						return href + (/\?/.test(href) ? '&' : '?') + 'is-index=true';
					}
				}
			};

			var goDetail = function (id) {
				$.getJSON(detailUrl + id, renderDetail);
				configWechat(getShareUrl('detail', id));
			};

			var goIndex = function () {
				$.getJSON(listUrl, renderList);
				configWechat(getShareUrl('index'));
			};

			var linkToGoDetail = function (e) {
				e.preventDefault();
				goDetail($(this).attr('data-id'));
			};

			var init = function () {
				var href = location.href;

				if (/detail-id/.test(href)) {
					goDetail(/detail-id=(\d+)/.exec(href)[1]);
				}
				else {
					goIndex();
				}

				$(document).on('click', '.list a', linkToGoDetail);
			};

			init();
        </script>
   </body>
</html>  