<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8" />
       <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
       <title></title>
       <link rel="stylesheet" href="../public/css/fresh.css" />
   </head>
   <body>
        <div class="container">
            <div class="list">
                <div id="slider" class="focus swipe">
                    <ul class="swipe-wrap">
                        <li>
                            <a href="detail.html">
                                <img src="../public/images/focus.jpg" />
                                <strong>2015挑战6000全国招募启动</strong>
                            </a>
                        </li>
                        <li>
                            <a href="detail.html">
                                <img src="../public/images/focus.jpg" />
                                <strong>2015挑战6000全国招募启动</strong>
                            </a>
                        </li>
                        <li>
                            <a href="detail.html">
                                <img src="../public/images/focus.jpg" />
                                <strong>2015挑战6000全国招募启动</strong>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
                <div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
				<div class="pic">
                    <a href="detail.html">
                        <img src="../public/images/pic.jpg" />
                        <strong>2015挑战6000全国招募启动</strong>
                        <p>2015挑战6000全国招募启动2015挑战6000全国招募启动</p>
                    </a>
                </div>
            </div>
        </div>
        <script src="../public/js/jquery.js"></script>
        <script src="../public/js/swipe.js"></script>
        <script>
            var slider = Swipe(document.getElementById('slider'));
        </script>
   </body>
</html>  