* {
    margin:0;
    padding:0;
}
ul {
    list-style:none;
}
img {
    vertical-align:bottom;
}
a img {
    border:none;
}
a {
    text-decoration:none;
}
.clear {
    clear:both;
}
.hide {
    display: none;
}
img {
    width: 100%;
}
html,
body {
    font-size: 10px;
}

/*
 * all
 */
body,
.container {
    overflow: hidden;
}
.show {
    opacity: 1;
}          
html,
body,
.container,
.bgs,
.pages,
.bg,
.page,
.result {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bgs,
.bg,
.bg > div {
    position: absolute;
}
.bgs .bg1 {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
}
.result {
    font-size: 1.2rem;
	line-height: 1.6rem;
}
.page {
	font-size: 1.8rem;
	line-height: 2.2rem;
}
.content {
    box-sizing: border-box;
    padding: 0 20px;
}
.page .content {
	padding-top: 10px;
}

/*
 * page
 */
.page {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(0px, 0px);
    -webkit-transition: -webkit-transform 0.4s;
}
.down {
    -webkit-transform: translate(0px, 100%);
}
.up {
    -webkit-transform: translate(0px, -100%);
}
.answer li em {
    font-style: normal;
}
.answer li {
    margin-top: 15px;
    padding: 10px;
    border: 2px solid #e60012;
    border-radius: 10px;
}
.answer li:hover,
.answer li.on {
    background: #e60012;
    color: #fff;
}
.page-content {
    margin-top: 10px;
}
.page-main {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

/*
 * result
 */
.result {
    background: url(../images/result-bg.jpg);
    background-size: cover;
}
.result .content {
    margin-top: 10px;
}
.result-main {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.share {
    margin-top: 10px;
}
.share-left {
    float: left;
    width: 40px;
    padding: 0 10px;
}
.share-right {
    margin-left: 60px
}
.share-btn {
    width: 136px;
}
.share-right b {
    color: #e60012;
    font-weight: normal;
}
.share-prompt {
    display: none;
    position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
    width: 100%;
    height: 100%;
    background: url(../images/share.jpg) no-repeat;
    background-size: cover;
    opacity: .8;
}


/*
	cover
*/
.cover {
	background: url(../images/cover-bg.jpg) no-repeat;
	background-size: cover;
}
.cloud,
.cover p {
	position: absolute;
	top: 0;
}
.cover .text2015 {
	top: auto;
	bottom: 0;
}
.cloud {
	top: auto;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}
.cover p {
	z-index: 11;
}
.cover .start-btn {
	z-index: 11000;
	
}
.cover .start-btn img:nth-child(2) {
	display: none;
}
.cover .start-btn:hover img:nth-child(1) {
	display: none;
}
.cover .start-btn:hover img:nth-child(2) {
	display: block;
}
.cover .start {
	display: none;
}
.cover .start.show {
	display: block;
}
/*
.cover .start.show .start-btn {
	-webkit-animation-name: hvr-buzz-out;
	animation-name: hvr-buzz-out;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
*/
.cover .hand {
	width: 121px;
	top: 51.2%;
	left: 50%;
	margin-left: -60px;
	-webkit-animation-name: hvr-wobble-to-top-right;
  animation-name: hvr-wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(10px) rotate(2deg);
    transform: translateX(10px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-10px) rotate(-2deg);
    transform: translateX(-10px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(10px) rotate(2deg);
    transform: translateX(10px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-10px) rotate(-2deg);
    transform: translateX(-10px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.cover .cover-bottom {
	position: absolute;
	top: auto;
	bottom: -30px;
	width: 100%;
}
.loading {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: #000;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.music {
	position: absolute;
	left: 8px;
	top: 8px;
	z-index: 1000000;
	width: 24px;
	height: 24px;
	background: url(../images/music.png) no-repeat 1px 1px;
	background-size: 100%;
	z-index: 99;
	-webkit-animation: rotates 1.2s linear infinite;
}

.music.on {
	-webkit-animation: none;
}

@-webkit-keyframes rotates {
    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

.one-cloud {
	  -webkit-transform: translate(-40%, 0);
	  -webkit-animation-name: scroll;
	  -webkit-animation-duration: 10s;
	  -webkit-animation-timing-function:linear;
	  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(-40%, 0);
    }

    100% {
        -webkit-transform: translate(100%, 0);
    }
}