* {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
table{border-collapse:collapse; border-spacing:0;}
.notice_text {
    height: 70px;
    line-height: 70px;
    background: #333;
    text-align: center;
    color: #fff;
    font-size: 25px;
}
.wrap {
    font-size: 12px;
}

.reg {
    padding-bottom: 20px;
}
.reg_title {
    text-align: center;
}
.reg h3 {
    margin-bottom: 20px;
    font-size: 9px;
}
.reg h2 {
    margin-bottom: 15px;
    font-size: 16px;
}
.reg_con {
    margin: 0 34px;
    border: 1px solid #d6d6d6;
}
.reg_row textarea {
    vertical-align: top;
}
.reg_row textarea,
.reg_row input {
    width: 100%;
    border: none;
}
.reg_row_title h4 {
    display: block;
    flex: 1;
    text-align: center;
}
.reg_row label {
    width: 65px;
    padding-left: 10px;
}
.reg_row {
    display: table;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #d6d6d6;
}
.reg_row p {
    display: table-cell;
}
.reg label {
    display: table-cell;
    color: #d6d6d6;
}

.accept {
    padding: 0;
}
.accept label {
    padding: 5px 5px 5px 10px;
}
.accept p {
    vertical-align: middle;
    text-align: right;
}
.accept button.on {
    background: #f29a55;
}
.accept button {
    width: 40px;
    height: 100%;
    background: #ffffff;
    border: none;
    border-left:  1px solid #d6d6d6;
    color: #d6d6d6;
}

.phone label {
    padding-right: 0;
}
.phone .phone_input button {
    border: none;
}
.phone button {
    width: 80px;
    background: #d6d6d6;
    color: #fff;
}

.btns p button {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 0;
    text-align: center;
    color: #000;
}
.btns .submit {
    background: #d6d6d6;
}
.btns p button {
    border: none;
}
