.btn {
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: none;
}
.btn {
  border-radius: 2px;
  padding: 5px 20px;
  line-height: 20px;
  color: #ffffff;
  background-color: #339a66;
}
.btn.hover,
.btn:hover {
  color: #ffffff;
  background-color: #339a66;
}
.btn.active,
.btn:active {
  background-color: #339a66;
}
.btn-mn {
  padding: 0 2px;
  line-height: 18px;
}
.btn-smt {
  padding: 0 5px;
}
.btn-sm {
  padding: 2px 9px;
}
.btn-lg {
  padding: 7px 14px;
  font-size: 14px;
}
.btn-lgt {
  padding: 9px 19px;
  font-size: 14px;
}
button.btn,
input.btn {
  *padding: 2px 19px;
}
button.btn-mn,
input.btn-mn {
  *line-height: 16px;
  *height: 18px;
}
button.btn-smt,
input.btn-smt {
  *line-height: 22px;
  *height: 18px;
}
button.btn-sm,
input.btn-sm {
  *line-height: 26px;
  *height: 18px;
}
button.btn-lg,
input.btn-lg {
  *padding: 5px 14px;
}
button.btn-lgt,
input.btn-lgt {
  *padding: 7px 19px;
}
.btn-orange {
  color: #ffffff;
  background-color: #f19149;
}
.btn-orange.hover,
.btn-orange:hover {
  color: #ffffff;
  background-color: #f19149;
}
.btn-orange.active,
.btn-orange:active {
  background-color: #f19149;
}
.btn-gray {
  color: #ffffff;
  background-color: #bcbcbc;
}
.btn-gray.hover,
.btn-gray:hover {
  color: #ffffff;
  background-color: #bcbcbc;
}
.btn-gray.active,
.btn-gray:active {
  background-color: #bcbcbc;
}
.btn-lightgray {
  text-align: center;
  vertical-align: middle;
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  font-weight: bold;
  color: #339a66;
  background-color: #f3f3f3;
}
.btn-lightgray.hover,
.btn-lightgray:hover {
  color: #339a66;
  background-color: #f3f3f3;
}
.btn-lightgray.active,
.btn-lightgray:active {
  background-color: #f3f3f3;
}
.btn-block {
  display: block;
}
.panel-hd {
  height: 35px;
  border-bottom: 1px solid #ededed;
}
.panel-title {
  line-height: 30px;
  font-size: 20px;
  color: #333;
  font-weight: normal;
}
.panel-bd {
  padding: 20px 0;
}
.slides {
  position: relative;
}
.slides-main {
  background-color: #f6f6f6;
}
.slides-main li {
  height: 300px;
  display: none;
}
.slides-main img {
  display: block;
}
.slides-main .slides-item-container {
  position: relative;
  float: left;
  width: 510px;
  height: 300px;
}
.slides-main .slides-item-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-sizing: border-box;
  height: 80px;
  padding: 15px;
  overflow: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.slides-main .slides-item-caption a {
  color: #fff;
}
.slides-main .slides-item-content {
  float: right;
  width: 390px;
  height: 300px;
  box-sizing: border-box;
  padding: 25px;
  color: #747474;
  background-color: #f6f6f6;
}
.slides-main .slides-item-content p {
  text-indent: 24px;
}
.slides-main .slides-item-content .more {
  text-align: right;
}
.slides-main .current {
  display: block;
}
.slides-paging {
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 3;
  width: 510px;
}
.slides-paging ul {
  text-align: center;
}
.slides-paging li {
  display: inline-block;
}
.slides-paging a {
  display: block;
  overflow: hidden;
  *zoom: 1;
  text-indent: -200%;
  letter-spacing: -100%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.slides-paging .current a {
  background-color: #3a9473;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.text-orange {
  color: #fe975f;
}
.main *,
.main  *:before,
.main  *:after {
  box-sizing: border-box;
}
.label {
  padding: 2px 6px;
  line-height: 20px;
  border-radius: 2px;
  color: #f09853;
  border: 1px solid #ffd4b1;
  background-color: #fee3cd;
}
.thumb-image a,
.thumb-image img {
  height: 100%;
  display: block;
}
.thumb-h {
  *zoom: 1;
}
.thumb-h:before,
.thumb-h:after {
  content: " ";
  display: table;
}
.thumb-h:after {
  clear: both;
}
.thumb-h .thumb-image,
.thumb-h .thumb-main {
  float: left;
}
.thumb-group {
  *zoom: 1;
  overflow: hidden;
  margin-right: -20px;
}
.thumb-group:before,
.thumb-group:after {
  content: " ";
  display: table;
}
.thumb-group:after {
  clear: both;
}
.thumb-group .thumb-sponsor {
  *zoom: 1;
  float: left;
  margin-right: 20px;
}
.thumb-group .thumb-sponsor:before,
.thumb-group .thumb-sponsor:after {
  content: " ";
  display: table;
}
.thumb-group .thumb-sponsor:after {
  clear: both;
}
.thumb-group .thumb-image,
.thumb-group .thumb-main {
  float: left;
}
.thumb-sponsor .thumb-image {
  width: 190px;
  height: 253px;
}
.thumb-sponsor .thumb-main {
  overflow: hidden;
  width: 249px;
  height: 253px;
  padding: 20px;
  background-color: #f6f6f6;
}
.thumb-sponsor .thumb-main h3 {
  margin-top: 10px;
  font-size: 16px;
}
.thumb-sponsor .thumb-main h3 a {
  color: #333;
}
.thumb-sponsor .thumb-main .label {
  font-size: 12px;
}
.thumb-sponsor .thumb-main ul {
  margin-top: 10px;
}
.thumb-sponsor .thumb-main li {
  font-size: 12px;
  color: #797979;
}
.thumb-sponsor .thumb-main p {
  color: #9f9f9f;
  margin: 20px 0 10px;
}
.thumb-participant .thumb-image {
  width: 190px;
  height: 253px;
}
.thumb-participant .thumb-main {
  position: relative;
  overflow: hidden;
  width: 305px;
  height: 253px;
  padding: 20px;
  background-color: #f6f6f6;
}
.thumb-participant .thumb-main:before {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #fff;
  border-right-color: #fff;
}
.thumb-participant .thumb-main h3 {
  margin-top: 90px;
  font-size: 16px;
}
.thumb-participant .thumb-main h3 a {
  color: #333;
}
.thumb-participant .thumb-main .label {
  font-size: 12px;
}
.thumb-participant .thumb-main ul {
  margin-top: 10px;
}
.thumb-participant .thumb-main li {
  font-size: 12px;
  color: #797979;
}
.thumb-participant .thumb-main p {
  color: #9f9f9f;
  margin-top: 20px;
}
.thumb-participant .thumb-info {
  float: left;
  width: 404px;
  height: 253px;
}
.thumb-participant .thumb-info .placeholder {
  border: 1px solid #eee;
  background-color: #fcfcfc;
}
.thumb-participant .thumb-info .placeholder p {
  margin-bottom: 20px;
  color: #8e8e8e;
}
.thumb-participant .thumb-info-hd {
  height: 28px;
  font-size: 16px;
  color: #333;
}
.thumb-participant .thumb-info-hd span {
  font-size: 12px;
  color: #a0a0a0;
}
.thumb-participant .thumb-info-bd {
  position: relative;
  overflow: hidden;
  height: 225px;
}
.thumb-participant .thumb-info-bd img {
  display: block;
  height: 100%;
  background-color: #eee;
}
.thumb-participant .thumb-info-bd .thumb-info-main {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 0;
  z-index: 2;
}
.thumb-participant .thumb-info-bd .thumb-info-main {
  *zoom: 1;
  color: #fff;
}
.thumb-participant .thumb-info-bd .thumb-info-main:before,
.thumb-participant .thumb-info-bd .thumb-info-main:after {
  content: " ";
  display: table;
}
.thumb-participant .thumb-info-bd .thumb-info-main:after {
  clear: both;
}
.thumb-participant .thumb-info-bd .thumb-info-main ul {
  float: left;
  width: 110px;
}
.thumb-participant .thumb-info-bd .thumb-info-main li {
  font-size: 12px;
}
.thumb-participant .thumb-info-bd .btn-share {
  white-space: normal;
  width: 57px;
  padding: 5px 10px;
  line-height: 20px;
  font-size: 16px;
}
.thumb-participant .thumb-info-bd .btn-share:hover {
  background-color: #fff;
  color: #333;
}
.divider-dashed {
  height: 0;
  border-bottom: 1px dashed #ccc;
  margin: 20px 0;
}
.placeholder {
  display: table;
  width: 100%;
  height: 100%;
}
.placeholder-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

