
.main{
	width: 860px;
	margin: 0 auto;
	padding: 70px 0 78px;
	color: #666666;
	text-align: center;
}

h3{
	font-size: 24px;
	font-weight: normal;

}
.mail_box,.cipher_box{
	border-bottom: 1px solid #e5e5e5;
	width: 355px;
	height: 45px;
	line-height: 45px;
	padding-left: 45px;
	margin: 0 auto;
}
.mail_box{
	background:url(../images/login_1.png) 0 10px no-repeat;
	margin-top: 35px;
}
.cipher_box{
	background:url(../images/login_1.png) 0 -132px no-repeat;
	margin-top: 23px;
}

.main input{
	border: none;
	background-color: none;
	font-size: 18px;
	width: 350px;
	height: 43px;
	line-height: 43px;
}

.reg_btn1{
	width: 220px;
	height: 50px;
	background:url(../images/login_2.png) no-repeat;
	display: block;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	margin: 30px auto 0;
}

